{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
    <IndexHeader />
    <ProviderShow @model={{model}} @admin={{true}} />
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
