{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{index-header}}
      {{provider-show model=model admin=true}}
    </div>
  </div>
{{/if}}
