{{#if @model.analyticsDashboardUrl}}
  <div class="content">
    <iframe plausible-embed src="{{@model.analyticsDashboardUrl}}" scrolling="no" frameborder="0" loading="lazy" style="width: 1px; min-width: 100%; height: 1600px;"></iframe>
    <div style="font-size: 14px; padding-bottom: 14px;">Stats powered by <a target="_blank" style="color: #4F46E5; text-decoration: underline;" href="https://plausible.io">Plausible Analytics</a></div>
    <script async src="{{analytics-dashboard-script-url}}"></script>
  </div>
{{else}}
  <div class="col-md-12">
    <BsAlert @dismissible={{false}} @type="warning">
      No analytics found for this repository.
    </BsAlert>
  </div>
{{/if}}
