{{#bs-navbar 
  type=type 
  fluid=true 
  collapsed=collapsed 
  onCollapse=(action (mut collapsed) true) 
  onExpand=(action (mut collapsed) false) 
as |navbar|
}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <a href="/" class="navbar-brand">{{title}}</a>
  </div>
  {{#navbar.content}}
    {{#navbar.nav class="navbar-right" as |nav|}}
      {{#if home}}
        {{#nav.item}}{{#dynamic-link params=home}}Home{{/dynamic-link}}{{/nav.item}}
      {{/if}}
      {{#nav.item}}<a target="_blank" rel="noopener" href="https://support.datacite.org">Support</a>{{/nav.item}}
      {{#if user}}
        {{menu-user class="dropdown"}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}
