<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{pluralize-word model.currentClientCount "Client" omitCount=true}}
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <h2 class="member graphs">{{#link-to "providers.show.clients" model.id}}{{format-number model.currentClientCount}}{{/link-to}}</h2>
    <div class="graphs" id="chart-client"></div>
  </div>
</div>
