<div class='col-md-9'>
  <div class="panel panel-transparent">
    <div class="panel-body">
      <h3 class="edit">Transfer DOIs</h3>
      {{#bs-form formLayout="vertical" model=this onSubmit=(action "submit") submitOnEnter=true as |form|}}
        {{#form.element controlType="power-select" property="client" label="Client" helpText='Transfer all DOIs to this client. It can take up to 8 hours until these changes are indexed and show up outside of DOI Fabrica.' optionLabelPath="name" options=clients destination=client as |el|}}
          {{#el.control onChange=(action "selectClient") search=(action "searchClient") searchField="name" searchPlaceholder="Type to search..." allowClear=true as |item|}}
            {{item.name}}
          {{/el.control}}
        {{/form.element}}

        <div class="pseudo-footer">
          <div class="btn-toolbar pull-right">
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
            <button {{action "submit"}} id="strans" class="btn btn-sm btn-fill" disabled>Transfer</button>
          </div>
          <div class="clearfix"/>
        </div>
      {{/bs-form}}
    </div>
  </div>
</div>

