<BsNav
  id="create-doi-button"
  @type="pills"
  as |nav|
>
  <nav.item>
    <nav.link-to @route="repositories.show.dois.new"><i class="fas fa-edit"></i>Create DOI</nav.link-to>
  </nav.item>
  <nav.dropdown as |dd|>
    <dd.toggle>
      <!--<nav.link-to @route="repositories.show.dois.new"><i class="fas fa-edit" style="padding: 5px;"></i>Create DOI</nav.link-to> -->
      <span class="caret"></span>
    </dd.toggle>
    <dd.menu as |ddm|>
      <ddm.item>
        <ddm.link-to @route="repositories.show.dois.new"><i class="fab fa-wpforms" style="padding: 5px;"></i>DOI Form</ddm.link-to>
      </ddm.item>
      <ddm.item>
        <ddm.link-to @route="repositories.show.dois.upload"><i class="fas fa-upload" style="padding: 5px;"></i>File Upload</ddm.link-to>
      </ddm.item>
    </dd.menu>
  </nav.dropdown>
</BsNav>
