<BsDropdown as |dd|>
  <BsButton class="btn-warning">Create DOI</BsButton>
  <dd.button class="btn-warning"><span class="caret"></span></dd.button>
  <dd.menu as |ddm|>
    <ddm.item>
      <ddm.linkTo @route="repositories.show.dois.new">DOI Form</ddm.linkTo>
    </ddm.item>
    <ddm.item>
      <ddm.linkTo @route="repositories.show.dois.upload">File Upload</ddm.linkTo>
    </ddm.item>
  </dd.menu>
</BsDropdown>