<div class="form-group">
  <label class="control-label col-md-3">State</label>
  <div class="col-md-9">
    <div class="help-block">
      The state determines whether a DOI is registered with the DOI Resolver and indexed in DataCite Search.
      Once in Registered or Findable state, a DOI can no longer be set to Draft state. <a target="_blank" href="https://support.datacite.org/docs/about-states-in-datacite-doi-fabrica">More&nbsp;…</a>
    </div>
    <div>{{radio-button value="draft" groupValue=state changed="selectState" disabled=draft}}Draft</div>
    <div class="help-block">
      The DOI is only visible in DOI Fabrica, and can be deleted.
    </div>
    <div>{{radio-button value="registered" groupValue=state changed="selectState" disabled=registered}}Registered</div>
    <div class="help-block">
      The DOI is registered with the DOI Resolver.
    </div>
    <div>{{radio-button value="findable" groupValue=state changed="selectState" disabled=findable}}Findable</div>
    <div class="help-block">
      The DOI is registered with the DOI Resolver and indexed in DataCite Search.
    </div>
  </div>
</div>


