{{#form.element label="Metadata" controlType="textarea" placeholder="Metadata" property="xml" rows=15 showValidationOn="focusOut" helpText='Metadata that describe the resource. You can also upload a file with metadata in DataCite XML format, or one of the other supported formats. DOI in metadata will be replaced with DOI in DOI field if different.' required=false as |el|}}
  {{el.control class="form-control metadata"}}
{{/form.element}}

<div class="btn-toolbar btn-file">
  {{#x-file-input name="files" multiple=false action=(action "didSelectFiles") accept="application/xml,application/json,text/plain"}}
    <span class="btn btn-sm">{{fa-icon "upload"}} Upload File</span>
  {{/x-file-input}}
</div>