<div class="form-group">
  <label class="control-label col-md-3">
    Language
  </label>
  <div class="col-md-9">
    <div class="label-vertical">
      The primary language of the resource.
    </div>
    <div class="power-select-fragment" doi-language>
      {{#form.element
        controlType='power-select'
        id='doi-language'
        formLayout='vertical'
        disabled=disabled
        value=language
        options=languages as |el|
      }}
        {{el.control
          onChange=(action 'selectLanguage')
          search=(action 'searchLanguage')
          placeholder='Select Language'
          searchPlaceholder='Type to search...'
          allowClear=true
        }}
      {{/form.element}}
    </div>
  </div>
</div>