<label class="control-label col-md-2">Metadata</label>
<div class="col-md-10">
  <div class="btn-toolbar btn-sm btn-file">
    {{#x-file-input name="files" multiple=false action=(action "didSelectFiles") accept="application/xml,application/json,text/plain,.bib,.ris"}}
      <span class="btn btn-sm">{{fa-icon "upload"}} Upload File</span>
    {{/x-file-input}}
  </div>
</div>

{{#form.element controlType="textarea" property="xml" rows=15 showValidationOn="focusOut" helpText='Metadata that describe the resource. Upload a file with metadata in DataCite XML format, or one of the other supported formats. The DOI in the metadata will be replaced with the DOI in the DOI field if different.' required=false as |el|}}
  {{el.control class="form-control metadata"}}
{{/form.element}}