<div class="form-group">
  <label class="control-label col-md-3">Descriptions (optional)</label>
  <div class="col-md-9">
    {{#each model.descriptions as |description index|}}
      {{doi-description model=model fragment=description form=form index=index}}
    {{/each}}

    {{#if (lte model.descriptions.length 4)}}
      {{#bs-button class="btn-sm" id="add-description" outline=true onClick=(action "addDescription")}}{{fa-icon "plus"}} Add
      description{{/bs-button}}
    {{/if}}
  </div>
</div>
