<div>
    <label for="name" class="subtitle">Creator Name</label>
    <div class="input-group">
        <input type="text" class="form-control name-field" value={{fragment.name}} placeholder="Name" oninput={{action "updateName" value="target.value"}} data-test-related-item-creator-name/> 
        <span class="input-group-btn">
            <BsButton @outline={{true}} @onClick={{action "deleteRelatedItemCreator" index}}><i class="fas fa-trash"></i></BsButton>
        </span>
    </div>
</div>