{{#if form}}
  <form.element @id="url" @controlType="text" @label="URL" @property="url" @helpText="The location of the landing page with more information about the resource." @required={{false}} />
{{else if url}}
  <h3 class="member-results">URL</h3>
  <div class="panel panel-transparent url">
    <div class="panel-body">
      <UrlCheck @model={{model}} @url={{url}} />
    </div>
  </div>
{{/if}}
