<div class="form-group {{validationClass}}">
  <label class="control-label col-md-3">Title(s)</label>
  <div class="col-md-9">
    {{#each model.titles as |title index|}}
      {{doi-title model=model fragment=title form=form index=index setValidationClass=(action "setValidationClass")}}
    {{/each}}

    {{#if (lte model.titles.length 4)}}
      {{#bs-button class="btn-sm" id="add-title" outline=true onClick=(action "addTitle")}}{{fa-icon "plus"}} Add another title{{/bs-button}}
    {{/if}}
  </div>
</div>