<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">Usage Statistics</h3>
  </div>
</div>
<div class="row row-chart">
  {{month-chart data=(readonly usageViews) label='Views'}}
  {{month-chart data=(readonly usageDownloads) label='Downloads'}}
</div>