<div class="form-group">
  <label class="control-label col-md-2">State</label>
  <div class="col-md-10">
    <div>{{radio-button value="draft" groupValue=state radioClass="radio" changed="selectState" disabled=draft}}Draft <span class="help-block">only visible in DOI Fabrica, DOI can be deleted</span></div>
    <div>{{radio-button value="registered" groupValue=state radioClass="radio" changed="selectState" disabled=registered}}Registered <span class="help-block">registered with the DOI Resolver</span></div>
    <div>{{radio-button value="findable" groupValue=state radioClass="radio" changed="selectState" disabled=findable}}Findable <span class="help-block">registered with the DOI Resolver and indexed in DataCite Search</span></div>
    <div class="help-block">
      The state determines whether a DOI is registered with the DOI Resolver and indexed in DataCite Search.
      Once in Registered or Findable state, a DOI can no longer be set to Draft state. <a target="_blank" href="https://support.datacite.org/docs/about-states-in-datacite-doi-fabrica">More&nbsp;…</a>
    </div>
  </div>
</div>


