{{#if (or usageViews usageDownloads)}}
  <h3 class="member-results">Usage Statistics</h3>

  <div class="row row-chart">
    {{#if usageViews}}
      <MonthChart @data={{usageViews}} @label="Views" @class="col-lg-4 col-md-4" />
    {{/if}}
    {{#if usageDownloads}}
      <MonthChart @data={{usageDownloads}} @label="Downloads" @class="col-lg-4 col-md-4" />
    {{/if}}
  </div>
{{/if}}