{{#form.element
  controlType="power-select"
  label="Resource Type General"
  id="resource-type-general"
  property="types.resourceTypeGeneral"
  helpText="The general type of the resource."
  options=resourceTypesGeneral
  disabled=disabled
  destination=resourceTypeGeneral as |el|
}}
{{el.control
  onChange=(action "selectResourceTypeGeneral")
  placeholder="Select Resource Type General"
}}
{{/form.element}}

<div class="form-group">
  <div class="col-md-9 col-md-offset-3">
    <div class="power-select-label">
      <label for="subject" class="subtitle">Resource Type</label>
    </div>
    <div class="power-select-fragment" doi-resource-type>
      {{form.element
        controlType="text"
        id="resource-type"
        property="types.resourceType"
        helpText="A description of the resource, the preferred format is a single term of some detail."
        required=false
        disabled=disabled
      }}
    </div>
  </div>
</div>
