<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="{{this.chartId}}-title">
      {{pluralize this.count this.label without-count=true}}
      <span class="small pull-right">
        by resource type
      </span>
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <div class="graphs" id={{this.chartId}}></div>
  </div>
</div>