<h2 class="work">DataCite</h2>

<div class="tab-content nav-tabs-member">
  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item}}{{#nav.link-to "index" class="nav-link"}}Info{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "settings" class="nav-link"}}Settings{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "providers" class="nav-link"}}Providers{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "repositories" class="nav-link"}}Repositories{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "periodicals" class="nav-link"}}Periodicals{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "prefixes" class="nav-link"}}Prefixes{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "dois" class="nav-link doi"}}DOIs{{/nav.link-to}}{{/nav.item}}
  {{/bs-nav}}
</div>
