<h2 class="work">DataCite</h2>

<div class="tab-content nav-tabs-member">
  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item route="index" class="nav-link"}}Info{{/nav.item}}
    {{#nav.item route="settings" class="nav-link"}}Settings{{/nav.item}}
    {{#nav.item route="providers" class="nav-link"}}Members{{/nav.item}}
    {{#nav.item route="repositories" class="nav-link"}}Repositories{{/nav.item}}
    {{#nav.item route="prefixes" class="nav-link"}}Prefixes{{/nav.item}}
    {{#nav.item route="dois" class="nav-link doi"}}DOIs{{/nav.item}}
    {{#nav.item route="researchers" class="nav-link"}}Researchers{{/nav.item}}
  {{/bs-nav}}
</div>
