<div class="row">
  <div class="col-md-9">
    <h2 class="work">DataCite</h2>
  </div>
</div>

<div class="tab-content nav-tabs-member">
  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item}}{{#nav.link-to "index" class="nav-link"}}Info{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "settings" class="nav-link"}}Settings{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "providers" class="nav-link"}}Providers{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "clients" class="nav-link"}}Clients{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "prefixes" class="nav-link"}}Prefixes{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "dois" class="nav-link doi"}}DOIs{{/nav.link-to}}{{/nav.item}}
  {{/bs-nav}}
</div>
