<div class="wrapper">
  <div
    class="landing-header"
    style="background-image: url('https://datacite.org/images/fabrica/header.png');"
  >
    <div class="container-fluid">
      <div class="motto">
        <h1>
          {{site-title}}
        </h1>
        <p>
          Register and manage DOIs and metadata.
        </p>
      </div>
    </div>
  </div>
  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2">
          {{#each flashMessages.queue as |flash|}}
            <FlashMessage @flash={{flash}} />
          {{/each}}
          <p>
            Fabrica is DataCite's web interface where you can create, find, connect and track all of your DOIs and metadata. Fabrica also includes all of the functionalities needed to manage repository accounts, prefixes and contacts.
          </p>
          <p>
            To access this service you need to sign in with one of the following accounts: Member, Consortium, Consortium Organization, Repository. More information about how to use Fabrica is available
            <a href="https://support.datacite.org/docs/doi-fabrica">
              here.
            </a>
          </p>
          <p>
            Fabrica complements the
            <a href="https://api.datacite.org">
              REST
            </a>
            ,
            <a href="https://mds.datacite.org">
              MDS
            </a>
            ,
            <a href="https://ez.datacite.org">
              EZ
            </a>
            ,
            <a href="https://oai.datacite.org">
              OAI-PMH
            </a>
            , and
            <a href="https://api.datacite.org/graphql">
              GraphQL
            </a>
            APIs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-2 col-sm-offset-2 info">
          <div class="icon icon-landing">
            <i class="fas fa-sitemap"></i>
          </div>
          <h3>
            Repositories
          </h3>
          <div class="description-centered">
            <p>
              Use Fabrica to manage your repositories.
            </p>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1 info">
          <div class="icon icon-landing">
            <i class="fas fa-tags"></i>
          </div>
          <h3>
            Prefixes
          </h3>
          <div class="description-centered">
            <p>
              Use Fabrica to manage your prefixes.
            </p>
          </div>
        </div>
        <div class="col-sm-2 col-sm-offset-1 info">
          <div class="icon icon-landing">
            <i class="fas fa-file-alt"></i>
          </div>
          <h3>
            DOIs
          </h3>
          <div class="description-centered">
            <p>
              Register and manage DOIs and their metadata through Fabrica.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>