<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{pluralize count label without-count=true}}
    </h3>
  </div>
  <div class="panel-body panel-chart">
    <div class="graphs" id="metrics-counter-doi">
      <p style="font-size:5em; color:#4DB6AC;">
        {{!-- 23k --}}
         {{ format-numbers count }} 
      </p>
    </div>
  </div>
</div>
