<div class="form-group">
  <div id="password" class="input-group">
    {{input name="password" id="password" value=model.password class="form-control" placeholder='New Password' readonly=true}}
    <div class="input-group-btn">
      <button {{action "generate"}} class="btn btn-xs btn-fill" id="generate">Generate</button>
    </div>
  </div>
  <span class="help-block">Please click generate for a new password.</span>
  {{#if model.password}}
    {{#bs-alert dismissible=false type="info"}}
      Make sure to copy your new password now. You won’t be able to see it again!
      {{#copy-button
        clipboardTarget="input#password"
        class="btn-link"
        success=(action "onSuccess")
        error=(action "onError")
      }}
        <i class="fa fa-clipboard" />
      {{/copy-button}}
    {{/bs-alert}}
  {{/if}}
</div>
