  {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-2" model=this onSubmit=(action "submit") as |form|}}
    {{form.element controlType="text" label="From" onChange=(action "submitFirstPrefix") property="firstPrefix" helpText='First prefix in range of new prefixes provided by CNRI.' required=false}}
    {{form.element controlType="text" label="To" onChange=(action "submitLastPrefix") property="lastPrefix" helpText='Last prefix in range of new prefixes provided by CNRI.' required=false}}

    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-sm btn-fill">Add Prefixes</button>
      <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
    </div>
  {{/bs-form}}