<div class="content">
  <div class="row row-chart">
    <BarChart @data={{this.json.dois}} @label="DOI" @model={{this.model}} @link="repositories.show.dois" @cumulative={{false}} />
  </div>

  {{#if (can "read messages" this.model)}}
    <div class="row">
      <div class="col-md-9">
        {{#each this.flashMessages.queue as |flash|}}
          <FlashMessage @flash={{flash}} />
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>