<div class="row">
  <div class='col-md-3'>
  </div>
  <div class="col-md-9">
    <div class="panel panel-transparent">
      <div class="panel-body">
        <h5>ORCID ID</h5>
        <a href="{{model.orcid}}">{{model.orcid}}</a>

        {{#if model.givenNames}}
          <h5>Given Name</h5>
          {{model.givenNames}}
        {{/if}}

        {{#if model.familyName}}
          <h5>Family Name</h5>
          {{model.familyName}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
