<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">URL</h3>
    <div class="panel panel-transparent">
      <div class="panel-body">
        {{#if model.url}}
          {{url-check url=model.url urlToCheck=(url-transform model.doi)}}
        {{else}}
          The URL is currently not available.
        {{/if}}
      </div>
    </div>
  </div>
</div>
