<div class="row">
  <div class="col-md-9">
    <h3 class="member-results">Media</h3>
  </div>
</div>
<div class="panel panel-transparent">
  <div class="panel-body">
    {{#if model.media}}
      {{#each model.media as |media|}}
        <div class="row">
          <div class="col-md-2">
            <strong>{{media.media-type}}</strong>
          </div>
          <div class="col-md-7">
            {{url-check url=media.url contentType=media.media-type urlToCheck=(url-transform model.doi contentType=media.media-type)}}
          </div>
        </div>
      {{/each}}
    {{else}}
      There are no media registered for this DOI.
    {{/if}}
  </div>
</div>
