{{#if (can "read data-center" model)}}
  <h3 class="results">{{#link-to "data-centers"}}Data Centers{{/link-to}}</h3>
  <div class="row">
    <div class="col-md-9" id="show">
      <div class="panel panel-default" id="content-member">
        <div class="panel-body">
          <h3>
            {{model.title}}
          </h3>
        </div>
        <div class="panel-footer">
          {{model.name}}
          <span>{{fa-icon "question-circle"}}
            {{#bs-tooltip placement="top" viewportPadding=10}}Each data center has a unique ID that starts with the member ID.{{/bs-tooltip}}
          </span>
        </div>
      </div>
    </div>
    {{datacenter-sidebar model=model}}
  </div>
{{/if}}
