{
  "log": {
    "_recordingName": "Acceptance | user | user/visiting users",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "241894a2047d1685f1f6483b6e9d0010",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "repository-id",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/users?page%5Bnumber%5D=1&page%5Bsize%5D=25&provider-id=&query=&repository-id=&size=25&sort="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 8242,
            "text": "{\"data\":[{\"id\":\"0000-0001-9354-2586\",\"type\":\"users\",\"attributes\":{\"givenNames\":\"Dongmei\",\"familyName\":\" Deng\",\"name\":\"Dongmei  Deng\",\"orcid\":\"https://orcid.org/0000-0001-9354-2586\",\"github\":null,\"roleId\":\"user\",\"isActive\":false,\"created\":\"2020-02-09T17:40:00.000Z\",\"updated\":\"2020-02-09T17:40:00.000Z\"},\"relationships\":{}},{\"id\":\"0000-0002-0045-3769\",\"type\":\"users\",\"attributes\":{\"givenNames\":\"Bernard\",\"familyName\":\"'t Hart\",\"name\":\"Bernard Marius 't Hart\",\"orcid\":\"https://orcid.org/0000-0002-0045-3769\",\"github\":null,\"roleId\":\"user\",\"isActive\":false,\"created\":\"2020-02-09T17:38:11.000Z\",\"updated\":\"2020-02-09T17:38:11.000Z\"},\"relationships\":{}},{\"id\":\"0000-0002-2220-6072\",\"type\":\"users\",\"attributes\":{\"givenNames\":\"Michael\",\"familyName\":\"'t Sas-Rolfes\",[...]
