{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
    <IndexHeader />
    
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="col-md-9 col-md-offset-3"><h3 class="edit">Add Prefixes</h3></div>

        <PrefixNew @model={{model}} />
      </div>
    </div>
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}



