{
  "log": {
    "_recordingName": "Acceptance | staff_admin | admin/visiting info",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "0b9332e8376d7479c85865f558a7f9e5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/providers/admin"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1090,
            "text": "{\"data\":{\"id\":\"admin\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"ADMIN\",\"website\":\"https://datacite.org\",\"systemEmail\":\"tech@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":null,\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":\"@datacite\",\"billingInformation\":{\"city\":\"\",\"address\":\"\",\"postCode\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"salesforceId\":null,\"technicalContact\":{\"email\":\"kristian.garza@datacite.org\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\"},\"secondaryTechnicalContact\":{},\"billingContact\":{\"email\":\"support@datacite.org\",\"givenName\":\"Britta\",\"familyName\":\"Dreyer\"},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2010-01-01T00:00:00.000Z\",\"updated\":\"2020-03-26T19:16:22.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]}}},\"meta\":{\"repositoryCount\":0,\"consortiumOrganizationCount\":0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "b3b1fc19e766327e2d4812a4a53f80e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/providers/admin/stats"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1351,
            "text": "{\"providers\":[{\"id\":\"2010\",\"title\":\"2010\",\"count\":14},{\"id\":\"2011\",\"title\":\"2011\",\"count\":20},{\"id\":\"2012\",\"title\":\"2012\",\"count\":21},{\"id\":\"2013\",\"title\":\"2013\",\"count\":22},{\"id\":\"2014\",\"title\":\"2014\",\"count\":26},{\"id\":\"2015\",\"title\":\"2015\",\"count\":27},{\"id\":\"2016\",\"title\":\"2016\",\"count\":40},{\"id\":\"2017\",\"title\":\"2017\",\"count\":61},{\"id\":\"2018\",\"title\":\"2018\",\"count\":115},{\"id\":\"2019\",\"title\":\"2019\",\"count\":310},{\"id\":\"2020\",\"title\":\"2020\",\"count\":445}],\"clients\":[{\"id\":\"2010\",\"title\":\"2010\",\"count\":6},{\"id\":\"2011\",\"title\":\"2011\",\"count\":116},{\"id\":\"2012\",\"title\":\"2012\",\"count\":255},{\"id\":\"2013\",\"title\":\"2013\",\"count\":438},{\"id\":\"2014\",\"title\":\"2014\",\"count\":658},{\"id\":\"2015\",\"title\":\"2015\",\"count\":946},{\"id\":\"2016\",\"title\":\"2016\",\"count\":1247},{\"id\":\"2017\",\"title\":\"2017\",\"count\":1392},{\"id\":\"2018\",\"title\":\"2018\",\"count\":1605},{\"id\":\"2019\",\"title\":\"2019\",\"count\":1929},{\"id\":\"2020\",\"title\":\"2020\",\"count\":2205}],\"dois\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":154375},{\"id\":\"2019\",\"title\":\"2019\",\"count\":581252},{\"id\":\"2018\",\"title\":\"2018\",\"count\":11897},{\"id\":\"2017\",\"title\":\"2017\",\"count\":4337},{\"id\":\"2016\",\"title\":\"2016\",\"count\":488},{\"id\":\"2015\",\"title\":\"2015\",\"count\":332},{\"id\":\"2014\",\"title\":\"2014\",\"count\":1460},{\"id\":\"2013\",\"title\":\"2013\",\"count\":177},{\"id\":\"2012\",\"title\":\"2012\",\"count\":87},{\"id\":\"2011\",\"title\":\"2011\",\"count\":29}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 251,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
