.fabrica-logo {
	height: 50;
	margin-top: -18px;
}

.navbar-right {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.navbar-lead {
	background-color: #243B54;
}

.navbar-user {
  background-color: #00B1E2;
}

.navbar-button {
	color: white !important;
}

.navbar-button:hover, .navbar-button:focus {
	color: #3498db !important;
}

.navbar-transparent {
	padding-top: 0;
}