/*
 Overrides to shared css/scss/sass styles pulled from:
    {{ENV.CDN_URL}}/stylesheets/doi.css?version=3.9.43 - soon to be locally kept in the bracco repository.
*/

/* CREATE-DOI-BUTTON - lot of styling to make it more consistent with app styling */

#create-doi-button.nav.nav-pills li.nav-item div.dropdown-menu {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
  margin-top: 5px;
}

#create-doi-button.nav.nav-pills li.nav-item a.nav-link.dropdown-toggle {
  border-left-width: 0 !important;
  border-color: rgb(230, 126, 34);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: rgb(230, 126, 34);
  height: 100%;
}

#create-doi-button.nav.nav-pills li.nav-item a.nav-link {
  border-color: rgb(230, 126, 34);
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  color: rgb(230, 126, 34);
  font-weight: 500;
  padding: 5px 10px;
}

#create-doi-button.nav.nav-pills li.nav-item a.nav-link:hover {
  background-color: #e67e22;
  color: hsla(0, 0%, 100%, .7);
  border-color: #e67e22;
}

#create-doi-button.nav.nav-pills li.nav-item div.dropdown-menu a.dropdown-item:hover {
  background-color: rgb(128, 128, 128, .2);
  color: #34495e;
  width: 100%
}

div.create-doi-button {
  margin-left: 5px;
  margin-bottom: 15px;
}

/* Enclosing block - control the size of child content blocks. */
.shrink {
  width: min-content;
}

.nav.nav-pills {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* INFO TAB - chart placement on info tab*/

#info-tab.content div.row.user-role, #info-tab div.row.row-chart div  {
  margin-left: 0 !important;
}

/* Fix info tab bar chart resize at upper breakpoints.  Div width @ 33% causes chart svgs to overflow their boxes.*/

@media (min-width: 992px) {
  .row-chart .col-md-4 {
      width: auto;
  }
}

/* Fix info tab bar chart indent at upper breakpoint. */
@media (min-width: 1200px) {
  .col-lg-offset-3 {
      /* margin-left: 25%;  */
      margin-left: 0;
  }
}


/****************/

/* To make a left sidebar button line up with the others. */
.btn-group-vertical {
  margin-left: 5px;
}

/* Make this look more like other "buttons" in the left sidebar. */
.btn-group-sm.btn-single>.btn {
  border-radius: 13px;
}

/* Style to change the caret icon orientation on aria state. Start orientation is point down. */

button[aria-expanded="true"] > .caret.caret-point{
  transform: rotate(0deg);
}

button[aria-expanded="false"] .caret.caret-point{
  /*transform: rotate(-90deg);*/
  transform: rotate(-90deg);
}

/* Transparent background for button anchor tag */

.transparent-background {
  background: rgb(0, 0, 0, 0) !important;
}

/* Adds a 'has-error' visual state to .ember-power-select-trigger .*/
.form-group.has-error .ember-power-select-trigger {
  color: #e74c3c;
  border-color: #e74c3c;
}

/* Power select - doi-format */
div[doi-format].power-select-fragment .ember-basic-dropdown-trigger div.ember-view{
  display:inline-block;
  padding-left: 5px;
}

/***********************/
/* ember-bootstrap 5   */
/***********************/

/* BASE DOI FROM assets.datacite.org/doi.css (based on bootstrap 3.4) - this must be fixed. */

/*
 * See migration documents: 
 * - https://getbootstrap.com/docs/4.0/migration/#forms-1
 * - https://getbootstrap.com/docs/5.0/migration/
 */

/* DOI UPDATE FORM - text input box tweeks. */

.form-group .form-text {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 16px;
}

.form-group.has-error input, .form-group.has-error select {
  color: #e74c3c; 
  border-color: #e74c3c;
}

.form-group.has-error .help-block {
  display: none;
}

.form-group.has-error .invalid-feedback {
  color: #e74c3c;
}

.form-group .help-block.success {
  color: #2ecc71;
}

.form-group input.is-valid, .form-group select.is-valid {
  color: #2ecc71; 
  border-color: #2ecc71;
}

/* Fix a slight spacing problem - text inputs doi forms - url/publication year. */
.input-fragment .form-group div.col-md-9 {
  padding-left: 0;
  width: 100%;
}


/* Fix a slight spacing problem - text inputs - doi forms - version. */
.input-fragment div.col-md-9 {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/** flashmessage box at the bottom of the form - style changed from 'in' ti 'show' **/

.fade.show {
  opacity: 1;
}

/* APPLICATION HEADER - right side dropdown classes. */

.show .dropdown-menu {
  opacity: 1;
  filter: alpha(opacity = 100);
  visibility: visible;
}

.dropdown.show .dropdown-menu, .navbar-nav>li.open>.dropdown-menu {
  transform: translateZ(0);
}

.dropdown.nav-item.show .dropdown-menu>a {
  color: #34495e;
  font-size: 16px;
  padding: 6px 15px;
  background-color: transparent;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
}

.dropdown.nav-item.show .dropdown-menu a:focus, .dropdown.nav-item.show .dropdown-menu a:hover {
  background-color: #34495e;
  color: hsla(0,0%,100%,.7);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.dropdown.nav-item.show .dropdown-menu .dropdown-divider {
  background-color: #e0e3e5;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
}

/* REPOSITORY NEW/EDIT FORM */

.form-horizontal .form-group label.col-form-label, .form-horizontal label.col-form-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.form-group#is-active div.col-md-9.offset-md-3 {
  margin-left: 25%;
}

@media (max-width: 992px) {
  .form-group#is-active div.col-md-9.offset-md-3 {
      margin-left: 0;
  }
}

.form-group#is-active label.form-check-label {
  padding-left: 7px;
}

/* SIGN-IN PAGE */

.navbar .navbar-header a.navbar-brand.title-inverted  {
  color: #fff !important;
  background-color: transparent;
}

/* PASSWORD CHANGE PAGES */

/* Show/hide password in input field. */

@media (min-width: 768px) {
  form i#togglePassword, form i#toggleConfirmPassword {
    z-index: 9999;
    position: absolute;
    top: 12%;
    right: 25px;
    cursor: pointer;
  }
}

/*
.show .dropdown-menu {
  opacity: 1;
  filter: alpha(opacity = 100);
  visibility: visible;
}

.dropdown.show .dropdown-menu, .navbar-nav>li.open>.dropdown-menu {
  transform: translateZ(0);
}

.show .dropdown-menu>a {
  color: #34495e;
  font-size: 16px;
  padding: 6px 15px;
  background-color: transparent;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  white-space: nowrap;
}

.dropdown-menu.open a:focus,.dropdown-menu.open a:hover {
  background-color: #34495e;
  color: hsla(0,0%,100%,.7);
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu .dropdown-divider {
  background-color: #e0e3e5;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
}

*/

/* DOI UPDATE FORM - power-select styles. */

/*
.power-select-fragment {
  margin-left: 0 !important;
}


.power-select-fragment[data-test-affiliation] {
  margin-left: 0;
}
*/