{
  "log": {
    "_recordingName": "Acceptance | user | admin/visiting prefixes",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "76e84123acdc63968b688a0e8da506ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/prefixes?client-id=&page%5Bnumber%5D=1&page%5Bsize%5D=25&provider-id=&query=&size=25&sort=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 61132,
            "text": "{\"data\":[{\"id\":\"10.0001\",\"type\":\"prefixes\",\"attributes\":{\"prefix\":\"10.0001\",\"createdAt\":\"2013-02-28T10:46:47.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"tib.kit-2\",\"type\":\"clients\"}]},\"providers\":{\"data\":[{\"id\":\"tib\",\"type\":\"providers\"}]}}},{\"id\":\"10.00012\",\"type\":\"prefixes\",\"attributes\":{\"prefix\":\"10.00012\",\"createdAt\":\"2014-09-04T12:12:53.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"delft.uu\",\"type\":\"clients\"}]},\"providers\":{\"data\":[{\"id\":\"delft\",\"type\":\"providers\"}]}}},{\"id\":\"10.0002\",\"type\":\"prefixes\",\"attributes\":{\"prefix\":\"10.0002\",\"createdAt\":\"2013-02-28T10:46:48.000Z\"},\"relationships\":{\"clients\":{\"d[...]
