  <div class="row">
    <div class='col-md-3'>
      {{#if (can "update prefix" model.prefix)}}
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group btn-group-sm">
                 {{#link-to "repositories.show.prefixes.show.delete" model.repository.id model.prefix.id class="btn btn-warning"}}{{fa-icon "pencil"}} Remove Prefix{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
    <div class='col-md-9'>
      <h2 class="work">{{model.prefix.id}}</h2>
    </div>
  </div>

  <div class="row">
    <div class='col-md-3'>
      {{repository-sidebar model=model}}
    </div>
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
