# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/*
/tmp/
!dist/.keep

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

.yarn_cache/*
!.yarn_cache/.gitkeep

package-lock.json

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

.env
.env.*
!.env.deploy.*
!.env.travis

electron-out/

corber/tmp-livereload
corber/cordova/node_modules
corber/cordova/package.json
corber/cordova/package-lock.json
corber/cordova/platforms/*
!corber/cordova/platforms/.gitkeep
corber/cordova/plugins/*
!corber/cordova/plugins/.gitkeep
corber/cordova/www/*
!corber/cordova/www/.gitkeep

.vscode
