{
  "log": {
    "_recordingName": "Acceptance | user | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4e3591aa55ddbdad88af6b5e8679c6b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93108,
            "text": "{\"data\":[{\"id\":\"10.15125/test-00001\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.15125/test-00001\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.15125/test-00001\",\"identifierType\":\"DOI\"},{\"identifier\":\"https://researchdata-test.bath.ac.uk/708/\",\"identifierType\":\"URL\"}],\"creators\":[{\"name\":\"Ball, Alex\",\"nameType\":\"Personal\",\"givenName\":\"Alex\",\"familyName\":\"Ball\",\"affiliation\":[{\"name\":\"University of Bath\"}],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-3148-9107\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"Yet another test deposit\",\"titleType\":null},{\"lang\":null,\"title\":\"Alternative title\",\"titleType\":\"AlternativeTitle\"}],\"publisher\":\"University of Bath\",\"container\":{},\"publicationYear\":2017,\"subjects\":[{\"subject\":\"Information Science &amp; Retrieval\",\"schemeUri\":\"http://www.rcuk.ac.uk/research/efficiency/researchadmin/harmonisation/\",\"subjectScheme\":\"RCUK Research Classifications\"}],\"contributors\":[{\"name\":\"Pink, Catherine\",\"nameType\":\"Personal\",\"givenName\":\"Catherine\",\"familyName\":\"Pink\",\"affiliation\":[{\"name\":\"University of Bath\"}],\"contributorType\":\"Supervisor\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-9752-6388\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Ball, Alex\",\"nameType\":\"Personal\",\"givenName\":\"Alex\",\"familyName\":\"Ball\",\"affiliation\":[{\"name\":\"University of Bath\"}],\"contributorType\":\"DataCollector\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-3148-9107\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"University Of Bath\",\"affiliation\":[]}],\"dates\":[{\"date\":\"2018-02-01/2018-02-08\",\"dateType\":\"Collected\"},{\"date\":\"2017\",\"dateType\":\"Issued\"}],\"language\":\"en\",\"types\":{\"ris\":\"COMP\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"SoftwareSourceCode\",\"resourceTypeGeneral\":\"Software\"},\"relatedIdentifiers\":[{\"relationType\":\"HasPart\",\"relatedIdentifier\":\"https://researchdata-test.bath.ac.uk/708/3/2017-05_Metadata_Map.xlsx\",\"relatedIdentifierType\":\"URL\"},{\"relationType\":\"HasPart\",\"relatedIdentifier\":\"https://researchdata-test.bath.ac.uk/708/4/Edward%20Fraenkel%20in%20conversation%20with%20John%20Ball_%20Part%201%20Early%20years%20at%20school%20and%20in%20aeronautics.mp4\",\"relatedIdentifierType\":\"URL\"},{\"relationType\":\"IsReferencedBy\",\"relatedIdentifier\":\"10.2218/ijdc.v12i1.494\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsReferencedBy\",\"relatedIdentifier\":\"10.4337/9781788111010\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[\"2017-05_Metadata_Map.xlsx - 15kB\",\"Edward Fraenkel in conversation with John Ball_ Part 1 Early years at school and in aeronautics.mp4 - 2B\"],\"formats\":[\"2017-05_Metadata_Map.xlsx - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet\",\"Edward Fraenkel in conversation with John Ball_ Part 1 Early years at school and in aeronautics.mp4 - video/mp4\"],\"version\":\"1\",\"rightsList\":[{\"rights\":\"2017-05_Metadata_Map.xlsx is licensed under the Creative Commons Attribution 4.0 License\",\"rightsUri\":\"http://creativecommons.org/licenses/by/4.0\"},{\"rights\":\"Edward Fraenkel in conversation with John Ball_ Part 1 Early years at school and in aeronautics.mp4 has no associated licence. Please contact the archive for advice.\"}],\"descriptions\":[{\"lang\":null,\"description\":\"This test looks at whether deposited files are copied to the Arkivum appliance &amp; whether ampersands cause errors when sending metadata to DataCite. It also ensures the log files gives sensible messages.\",\"descriptionType\":\"Abstract\"},{\"lang\":null,\"description\":\"My method.\",\"descriptionType\":\"Methods\"},{\"lang\":null,\"description\":\"How I prepared and processed my data.\",\"descriptionType\":\"Methods\"},{\"lang\":null,\"description\":\"What you need in order to read them.\",\"descriptionType\":\"TechnicalInfo\"},{\"lang\":null,\"description\":\"How I organised my data into files.\",\"descriptionType\":\"Other\"}],\"geoLocations\":[{\"geoLocationPoint\":{\"pointLatitude\":\"57.0135\",\"pointLongitude\":\"9.98934\"}},{\"geoLocationBox\":{\"eastBoundLongitude\":\"-71.032\",\"northBoundLatitude\":\"41.09\",\"southBoundLatitude\":\"42.893\",\"westBoundLongitude\":\"-68.211\"}},{\"geoLocationPlace\":\"Neverland\"}],\"fundingReferences\":[{\"awardTitle\":\"Research Data Service\",\"funderName\":\"University of Bath\",\"funderIdentifier\":\"https://doi.org/10.13039/501100000835\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"url\":\"https://datacite.org/invalid.html\",\"contentUrl\":null,\"metadataVersion\":1,\"schemaVersion\":null,\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":1,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2019-05-10T15:59:03.000Z\",\"registered\":\"2019-05-10T22:06:18.000Z\",\"published\":\"2017\",\"updated\":\"2020-04-23T07:33:19.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"bl.bath\",\"type\":\"clients\"}}}},{\"id\":\"10.11588/52415\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.11588/52415\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.11588/52415\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"NN\",\"nameType\":\"Personal\",\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[{\"lang\":\"de-DE\",\"title\":\"Testbilder\"}],\"publisher\":\"heidICON, Heidelberg University Library\",\"container\":{},\"publicationYear\":2019,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2019\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"FIGURE\",\"bibtex\":\"misc\",\"citeproc\":\"graphic\",\"schemaOrg\":\"ImageObject\",\"resourceType\":\"Image\",\"resourceTypeGeneral\":\"Image\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://serv38.ub.uni-heidelberg.de:8443/detail/52415\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\[...]
