{
  "log": {
    "_recordingName": "Acceptance | user | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "a589acff49a930c64986c2d3cf37bc40",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 87604,
            "text": "{\"data\":[{\"id\":\"10.18716/testusb/letzter_test\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.18716/testusb/letzter_test\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.18716/testusb/letzter_test\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Niemitz, Tara\",\"nameType\":\"Personal\",\"givenName\":\"Tara\",\"familyName\":\"Niemitz\",\"affiliation\":[],\"nameIdentifiers\":[{\"nameIdentifier\":\"1\",\"nameIdentifierScheme\":\"schemaF\"}]},{\"name\":\"Kostädt, Peter\",\"nameType\":\"Personal\",\"givenName\":\"Peter\",\"familyName\":\"Kostädt\",\"affiliation\":[{\"name\":\"affi1\"}]}],\"titles\":[{\"title\":\"Ein Test vor der Abgabe\"},{\"title\":\"Untertitel\",\"titleType\":\"Subtitle\"},{\"title\":\"a test before handing it in\",\"titleType\":\"TranslatedTitle\"}],\"publisher\":\"Publisher\",\"container\":{},\"publicationYear\":2019,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2019\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"GEN\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"CreativeWork\",\"resourceType\":\"Test\",\"resourceTypeGeneral\":\"Model\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://wwwtest.ub.uni-koeln.de\",\"contentUrl\":null,\"metadataVersion\":3,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2019-03-12T08:21:57.000Z\",\"registered\":\"2019-03-12T08:22:00.000Z\",\"published\":\"2019\",\"updated\":\"2020-03-21T17:02:50.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"zbmed.unikoeln\",\"type\":\"clients\"}}}},{\"id\":\"10.24337/8661412d-ab8a-4bac-9ab4-a1820e3e2092\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.24337/8661412d-ab8a-4bac-9ab4-a1820e3e2092\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.24337/8661412d-ab8a-4bac-9ab4-a1820e3e2092\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Toufexis, Katina\",\"nameType\":\"Personal\",\"givenName\":\"Katina\",\"familyName\":\"Toufexis\",\"affiliation\":[{\"name\":\"The University of Western Australia\"}],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-6514-2988\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":\"en\",\"title\":\"Katina Testing automated DOIs II\"}],\"publisher\":\"The University of Western Australia\",\"container\":{},\"publicationYear\":2019,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2019-08-21\",\"dateType\":\"Available\"},{\"date\":\"2019\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"Unavailable\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[{\"lang\":\"en\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"http://test.research-repository.uwa.edu.au/en/datasets/katina-testing-automated-dois-ii(8661412d-ab8a-4bac-9ab4-a1820e3e2092).html\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2019-08-21T04:41:20.000Z\",\"registered\":\"2019-08-21T04:41:23.000Z\",\"published\":\"2019\",\"updated\":\"2020-03-21T17:02:49.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"ands.centre23\",\"type\":\"clients\"}}}},{\"id\":\"10.80158/0070601\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80158/0070601\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.80158/0070601\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\", Carlos\",\"nameType\":\"Personal\",\"givenName\":\"Carlos\",\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[{\"title\":\"hola3\"}],\"publisher\":\"QLands\",\"container\":{},\"publicationYear\":2020,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\"}],\"language\":\"eng\",\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"Dataset\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[{\"rights\":\"Creative Commons Attribution\"}],\"descriptions\":[{\"description\":\"Hola3\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"http://172.16.11.201:5000/dataset/6885757f-3dee-4422-8cc8-7d04f6f3ea8a\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2020-03-01T14:13:15.000Z\",\"registered\":\"2020-03-01T14:13:17.000Z\",\"published\":\"2020\",\[...]
