<div style="display: inline-block; width: 100%;">
<BsDropdown class="btn-group" as |dd|>
  <BsButton class="btn-warning" @onClick={{action "createDoi"}} id="omnipresent-new-doi" title='Create DOI Using Form'>
    <i class="fas fa-edit" aria-hidden="true"></i>Create DOI
  </BsButton>
  <dd.button class="btn-warning" aria-label="Open DOI creation options"><span class="caret caret-point" aria-hidden="true"></span></dd.button>
  <dd.menu as |ddm|>
    <ddm.item>
      <ddm.linkTo @route="repositories.show.dois.new" @id="omnipresent-secondary-new-doi"><i class="fab fa-wpforms" aria-hidden="true"></i> DOI Form</ddm.linkTo>
    </ddm.item>
    <ddm.item>
      <ddm.linkTo @route="repositories.show.dois.upload" @id="omnipresent-upload-doi"><i class="fas fa-upload" aria-hidden="true"></i> File Upload</ddm.linkTo>
    </ddm.item>
  </dd.menu>
</BsDropdown>
</div>
