<button onclick={{action "exportBasicMetadata" this.model}} class="ember-view btn btn-warning export-basic-metadata" id="export-metadata" type="button"><i class="fas fa-download"></i> Export DOI Metadata </button>
