<a href={{get (links) 'STATUS_URL'}} target="_blank" rel="noopener noreferrer" aria-label="DataCite system status">
  <span class="color-dot"></span>
  <span class="color-description">System status</span>
</a>
