<div class="col-md-9 col-md-offset-3 label-small">
  Click the circle icon for a new random ID, or the cross icon to delete the random ID and enter a value manually.
</div>

<@form.element @controlType="text" id="repository-id" class="form-group" @label="Repository ID" @property="symbol" @helpText="The Repository ID is the unique identifier for each repository in DataCite and can't be changed. The Repository ID must start with the Member ID, followed by a dot. It can then contain only upper case letters, numbers, and at most one hyphen." as |el|>
  
  <div class="input-group-no-float">
    <el.control id="repository-id-field" />

    <span class="input-group-addon refresh-input" title="Refresh" aria-label="Refresh" {{action 'refresh'}}><i class="fas fa-sync"></i></span>
    <span class="input-group-addon clear-input" title="Clear" aria-label="Clear" {{action 'clear'}}><i class="fas fa-times-circle"></i></span>  
  </div>
</@form.element>
