{
  "log": {
    "_recordingName": "Acceptance | staff_admin | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "02e6813508780035638e0fefb01ec834",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1290,
            "text": "{\"data\":{\"id\":\"0000-0003-1419-2405\",\"type\":\"users\",\"attributes\":{\"givenName\":null,\"familyName\":null,\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0003-1419-2405\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":true,\"created\":\"2019-09-10T07:56:46.000Z\",\"updated\":\"2019-11-19T16:55:30.000Z\"},\"relationships\":{}},\"meta\":{\"dois\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":20},{\"id\":\"2019\",\"title\":\"2019\",\"count\":61},{\"id\":\"2018\",\"title\":\"2018\",\"count\":2}],\"published\":[{\"id\":\"2023\",\"title\":\"2023\",\"count\":1},{\"id\":\"2020\",\"title\":\"2020\",\"count\":22},{\"id\":\"2019\",\"title\":\"2019\",\"count\":38},{\"id\":\"2017\",\"title\":\"2017\",\"count\":2},{\"id\":\"2016\",\"title\":\"2016\",\"count\":5},{\"id\":\"2013\",\"title\":\"2013\",\"count\":1},{\"id\":\"2012\",\"title\":\"2012\",\"count\":1},{\"id\":\"2011\",\"title\":\"2011\",\"count\":12},{\"id\":\"2008\",\"title\":\"2008\",\"count\":1}],\"resourceTypes\":[{\"id\":\"text\",\"title\":\"Text\",\"count\":32},{\"id\":\"software\",\"title\":\"Software\",\"count\":28},{\"id\":\"dataset\",\"title\":\"Dataset\",\"count\":19},{\"id\":\"interactive-resource\",\"title\":\"Interactive Resource\",\"count\":2},{\"id\":\"event\",\"title\":\"Event\",\"count\":1},{\"id\":\"model\",\"title\":\"Model\",\"count\":1}],\"views\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":1662}],\"downloads\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":846}],\"citations\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":16}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "4b6fbba4515fd1f15f6660a4dfe46471",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0003-1419-2405"
            },
            {
              "name": "user_id",
              "value": "0000-0003-1419-2405"
            }
          ],
          "url": "https://api.test.datacite.org/dois?user-id=0000-0003-1419-2405&user_id=0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 76203,
            "text": "{\"data\":[{\"id\":\"10.14454/1x4x-9056\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.14454/1x4x-9056\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.14454/1x4x-9056\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}],\"affiliation\":[]}],\"titles\":[{\"title\":\"Cool DOI's\"}],\"publisher\":\"DataCite\",\"container\":{\"type\":\"Series\",\"identifier\":\"10.5438/0000-00ss\",\"identifierType\":\"DOI\"},\"publicationYear\":2016,\"subjects\":[{\"subject\":\"doi\"},{\"subject\":\"featured\"}],\"contributors\":[],\"dates\":[{\"date\":\"2016-12-15\",\"dateType\":\"Issued\"},{\"date\":\"2016-12-15\",\"dateType\":\"Created\"}],\"language\":null,\"types\":{\"ris\":\"RPRT\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceType\":\"BlogPosting\",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[{\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"Text\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"References\",\"relatedIdentifier\":\"https://www.w3.org/Provider/Style/URI\",\"relatedIdentifierType\":\"URL\"},{\"relationType\":\"References\",\"relatedIdentifier\":\"10.1371/journal.pone.0115253\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://blog.datacite.org/cool-dois/\",\"contentUrl\":[],\"metadataVersion\":47,\"schemaVersion\":null,\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"landingPage\":{\"url\":\"https://blog.datacite.org/cool-dois/\",\"error\":\"\",\"status\":200,\"checked\":\"2020-04-05 04:51:58\",\"bodyHasPid\":false,\"citationDoi\":null,\"contentType\":\"text/html\",\"schemaOrgId\":\"https://doi.org/10.5438/55e5-t5c0\",\"dcIdentifier\":null,\"hasSchemaOrg\":true,\"redirectUrls\":[],\"redirectCount\":0,\"downloadLatency\":233},\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":2,\"citationCount\":0,\"partCount\":0,\"partOfCount\":1,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2018-12-30T16:58:38.000Z\",\"registered\":\"2018-12-30T16:58:39.000Z\",\"published\":\"2016\",\"updated\":\"2020-04-23T07:00:54.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.datacite\",\"type\":\"clients\"}}}},{\"id\":\"10.80225/3t09-t059\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/3t09-t059\",\"identifiers\":[{\"identifier\":\"https://doi.org/10.80225/3t09-t059\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[\"DataCite\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://[...]
