{
  "log": {
    "_recordingName": "Acceptance | staff_admin | provider/visiting provider TIB dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "b7743d7b0a469d3fb24b9eddb596efd9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "consortium,consortium-organizations"
            }
          ],
          "url": "https://api.stage.datacite.org/providers/tib?include=consortium%2Cconsortium-organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 21310,
            "text": "{\"data\":{\"id\":\"tib\",\"type\":\"providers\",\"attributes\":{\"name\":\"German National Library of Science and Technology\",\"displayName\":\"German National Library of Science and Technology\",\"symbol\":\"TIB\",\"website\":\"https://www.tib.eu\",\"systemEmail\":\"kj.garza@gmail.com\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":\"https://assets.test.datacite.org/images/members/tib.png?1583994903\",\"memberType\":\"direct_member\",\"organizationType\":\"nationalInstitution\",\"focusArea\":\"engineeringAndTechnology\",\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":\"@Tweet333\",\"billingInformation\":{\"city\":\"Hannover\",\"address\":\"Am Welfengarten 1B\",\"country\":\"DE\",\"postCode\":\"30167\",\"department\":\"\",\"organization\":\"Technische Informationsbibliothek\"},\"rorId\":\"https://ror.org/04aj4c181\",\"salesforceId\":null,\"technicalContact\":{\"email\":\"Hebert@email.com\",\"givenName\":\"dfsfds\",\"familyName\":\"sdffds\"},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{\"email\":\"Hebert@email.com\",\"givenName\":\"fdsdfs\",\"familyName\":\"fdsfds\"},\"secondaryServiceContact\":{},\"votingContact\":{\"email\":\"Hebert@email.com\",\"givenName\":\"dsdsadsa\",\"familyName\":\"dsasd\"},\"created\":\"2010-01-01T00:00:00.000Z\",\"updated\":\"2020-03-12T06:35:03.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"tib.pangaea\",\"type\":\"clients\"},{\"id\":\"tib.wdcc\",\"type\":\"clients\"},{\"id\":\"tib.ldeo\",\"type\":\"clients\"},{\"id\":\"tib.hzb\",\"type\":\"clients\"},{\"id\":\"tib.ukon\",\"type\":\"clients\"},{\"id\":\"tib.test\",\"type\":\"clients\"},{\"id\":\"tib.ubfr\",\"type\":\"clients\"},{\"id\":\"tib.gfz\",\"type\":\"clients\"},{\"id\":\"tib.kit\",\"type\":\"clients\"},{\"id\":\"tib.kmo\",\"type\":\"clients\"},{\"id\":\"tib.dagst\",\"type\":\"clients\"},{\"id\":\"tib.dg[...]
