{
  "log": {
    "_recordingName": "Acceptance | organization_admin | provider/visiting provider DataCite dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "f6f3288386f420c27925eb563367e29d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "consortium,consortium-organizations"
            }
          ],
          "url": "https://api.test.datacite.org/providers/datacite?include=consortium%2Cconsortium-organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7077,
            "text": "{\"data\":{\"id\":\"datacite\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"DATACITE\",\"website\":\"https://datacite.org\",\"systemEmail\":\"support@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"city\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2011-12-07T13:41:07.000Z\",\"updated\":\"2020-04-24T18:52:25.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.datacite\",\"type\":\"clients\"},{\"id\":\"datacite.pure\",\"type\":\"clients\"},{\"id\":\"datacite.rda\",\"type\":\"clients\"},{\"id\":\"datacite.harvard\",\"type\":\"clients\"},{\"id\":\"datacite.egi\",\"type\":\"clients\"},{\"id\":\"datacite.elsevier\",\"type\":\"clients\"},{\"id\":\"datacite.atmire\",\"type\":\"clients\"},{\"id\":\"datacite.cmcc\",\"type\":\"clients\"},{\"id\":\"datacite.axiom\",\"type\":\"clients\"},{\"id\":\"datacite.unibz\",\"type\":\"clients[...]
