{
  "log": {
    "_recordingName": "Acceptance | staff_admin | doi/visiting dois with click",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "25539dcf1fed1e0ea2c75ccd217e0120",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded;charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded;charset=utf-8",
            "params": [],
            "text": "INFORMATION_HIDDEN"
          },
          "queryString": [],
          "url": "https://api.test.datacite.org/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 582,
            "text": "INFORMATION_HIDDEN"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 54,
      },
      {
        "_id": "7d125f9523d362fc0090fd7db02f5cff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "focus-area",
              "value": ""
            },
            {
              "name": "include-deleted",
              "value": ""
            },
            {
              "name": "member-type",
              "value": ""
            },
            {
              "name": "non-profit-status",
              "value": ""
            },
            {
              "name": "organization-type",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "region",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/providers?focus-area=&include-deleted=&member-type=&non-profit-status=&organization-type=&page%5Bnumber%5D=1&page%5Bsize%5D=25&query=&region=&size=25&sort=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 61981,
            "text": "{\"data\":[{\"id\":\"akristia\",\"type\":\"providers\",\"attributes\":{\"name\":\"AA Test Member\",\"displayName\":\"AA Test Member\",\"symbol\":\"AKRISTIA\",\"website\":null,\"systemEmail\":\"kgarza@datacite.org\",\"groupEmail\":\"dsfsd@dsds.cn\",\"globusUuid\":null,\"description\":null,\"region\":null,\"country\":null,\"logoUrl\":\"//s3-eu-west-1.amazonaws.com/assets.test.datacite.org/home/app/webapp/public/images/members/000/010/318/data.png?1583231949\",\"memberType\":\"consortium\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"address\":\"ffdsfds\",\"organization\":\"saass\",\"department\":\"dsddddds\",\"postCode\":\"100333gggd\",\"state\":null,\"country\":\"AX\",\"city\":\"gggg\"},\"rorId\":null,\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2019-08-20T11:03:06.000Z\",\"updated\":\"2020-03-03T10:39:10.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]},\"consortiumOrganizations\":{\"data\":[{\"id\":\"aa\",\"type\":\"providers\"},{\"id\":\"hola\",\"type\":\"providers\"}]}}},{\"id\":\"aa\",\"type\":\"providers\",\"attributes\":{\"name\":\"AAA\",\"displayName\":\"AAA\",\"symbol\":\"AA\",\"website\":\"http://aaa.org\",\"systemEmail\":\"dsfsd@dsds.cn\",\"groupEmail\":\"dsfsd@dsds.cn\",\"globusUuid\":null,\"description\":null,\"region\":null,\"country\":null,\"logoUrl\":\"/images/medium/missing.png\",\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":false,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"address\":null,\"organization\":null,\"department\":null,\"postCode\":null,\"state\":null,\"country\":\"\",\"city\":\"\"},\"rorId\":null,\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2019-08-27T14:20:04.000Z\",\"updated\":\"2020-01-03T13:50:45.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"aa.test2\",\"type\":\"clients\"}]},\"prefixes\":{\"data\":[{\"id\":\"10.80022\",\"type\":\"prefixes\"}]},\"consortium\":{\"data\":{\"id\":\"akristia\",\"type\":\"providers\"}}}},{\"id\":\"akbild\",\"type\":\"providers\",\"attributes\":{\"name\":\"Academy of Fine Arts Vienna\",\"displayName\":\"Academy of Fine Arts Vienna\",\"symbol\":\"AKBILD\",\"website\":\"https://www.akbild.ac.at/Portal/akbild_startpage\",\"systemEmail\":\"a.ferus@akbild.ac.at\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"AT\",\"logoUrl\":\"/images/medium/missing.png\",\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":false,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"address\":null,\"organization\":null,\"department\":null,\"postCode\":null,\"state\":null,\"country\":\"\",\"city\":\"\"},\"rorId\":\"https://ror.org/029djt864\",\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{\"email\":\"a.ferus@akbild.ac.at\",\"givenName\":\"Andreas \",\"familyName\":\"Ferus\"},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2019-10-09T08:14:29.000Z\",\"updated\":\"2020-01-12T17:34:35.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[{\"id\":\"10.80123\",\"type\":\"prefixes\"}]},\"consortium\":{\"data\":{\"id\":\"tuwienco\",\"type\":\"providers\"}}}},{\"id\":\"aau\",\"type\":\"providers\",\"attributes\":{\"name\":\"Alpen-Adria-Universität Klagenfurt\",\"displayName\":\"Alpen-Adria-Universität Klagenfurt\",\"symbol[...]
