{
  "log": {
    "_recordingName": "Acceptance | anonymous | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "02e6813508780035638e0fefb01ec834",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1247,
            "text": "{\"data\":{\"id\":\"0000-0003-1419-2405\",\"type\":\"users\",\"attributes\":{\"givenNames\":null,\"familyName\":null,\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0003-1419-2405\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":true,\"created\":\"2019-09-10T07:56:46.000Z\",\"updated\":\"2019-11-19T16:55:30.000Z\"},\"relationships\":{}},\"meta\":{\"dois\":[{\"id\":\"2018\",\"title\":\"2018\",\"count\":2},{\"id\":\"2019\",\"title\":\"2019\",\"count\":62},{\"id\":\"2020\",\"title\":\"2020\",\"count\":11}],\"published\":[{\"id\":\"2008\",\"title\":\"2008\",\"count\":1},{\"id\":\"2011\",\"title\":\"2011\",\"count\":9},{\"id\":\"2012\",\"title\":\"2012\",\"count\":1},{\"id\":\"2016\",\"title\":\"2016\",\"count\":5},{\"id\":\"2017\",\"title\":\"2017\",\"count\":1},{\"id\":\"2019\",\"title\":\"2019\",\"count\":51},{\"id\":\"2020\",\"title\":\"2020\",\"count\":6},{\"id\":\"2023\",\"title\":\"2023\",\"count\":1}],\"resourceTypes\":[{\"id\":\"text\",\"title\":\"Text\",\"count\":34},{\"id\":\"software\",\"title\":\"Software\",\"count\":22},{\"id\":\"dataset\",\"title\":\"Dataset\",\"count\":16},{\"id\":\"event\",\"title\":\"Event\",\"count\":1},{\"id\":\"interactive-resource\",\"title\":\"InteractiveResource\",\"count\":1},{\"id\":\"model\",\"title\":\"Model\",\"count\":1}],\"views\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":873}],\"downloads\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":433}],\"citations\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":8}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 234,
      },
      {
        "_id": "4b6fbba4515fd1f15f6660a4dfe46471",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0003-1419-2405"
            },
            {
              "name": "user_id",
              "value": "0000-0003-1419-2405"
            }
          ],
          "url": "https://api.test.datacite.org/dois?user-id=0000-0003-1419-2405&user_id=0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 58438,
            "text": "{\"data\":[{\"id\":\"10.70001/4542-79-4853\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.70001/4542-79-4853\",\"identifiers\":[{\"identifier\":\"Ollomo B, Durand P, Prugnolle F, Douzery EJP, Arnathau C, Nkoghe D, Leroy E, Renaud F (2009) A new malaria agent in African hominids. PLoS Pathogens 5(5): e1000446.\",\"identifierType\":\"citation\"}],\"creators\":[{\"name\":\"Benjamin Ollomo\",\"nameType\":\"Personal\",\"givenName\":\"Benjamin\",\"familyName\":\"Ollomo\",\"affiliation\":[]},{\"name\":\"Patrick Durand\",\"nameType\":\"Personal\",\"givenName\":\"Patrick\",\"familyName\":\"Durand\",\"affiliation\":[]},{\"name\":\"Franck Prugnolle\",\"nameType\":\"Personal\",\"givenName\":\"Franck\",\"familyName\":\"Prugnolle\",\"affiliation\":[]},{\"name\":\"Emmanuel J. P. Douzery\",\"nameType\":\"Personal\",\"givenName\":\"Emmanuel J. P.\",\"familyName\":\"Douzery\",\"affiliation\":[]},{\"name\":\"Céline Arnathau\",\"nameType\":\"Personal\",\"givenName\":\"Céline\",\"familyName\":\"Arnathau\",\"affiliation\":[]},{\"name\":\"Dieudonné Nkoghe\",\"nameType\":\"Personal\",\"givenName\":\"Dieudonné\",\"familyName\":\"Nkoghe\",\"affiliation\":[]},{\"name\":\"Eric Leroy\",\"nameType\":\"Personal\",\"givenName\":\"Eric\",\"familyName\":\"Leroy\",\"affiliation\":[]},{\"name\":\"François Renaud\",\"nameType\":\"Personal\",\"givenName\":\"François\",\"familyName\":\"Renaud\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}],\"affiliation\":[]}],\"titles\":[{\"title\":\"The House of Mirth\"}],\"publisher\":\"Dryad Digital Repository\",\"container\":{},\"publicationYear\":2011,\"subjects\":[{\"subject\":\"Phylogeny\"},{\"subject\":\"Malaria\"},{\"subject\":\"Parasites\"},{\"subject\":\"Taxonomy\"},{\"subject\":\"Mitochondrial genome\"},{\"subject\":\"Africa\"},{\"subject\":\"Plasmodium\"}],\"contributors\":[],\"dates\":[{\"date\":\"2011\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"DataPackage\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[{\"relationType\":\"HasPart\",\"relatedIdentifier\":\"10.5061/dryad.8515/1\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"HasPart\",\"relatedIdentifier\":\"10.5061/dryad.8515/2\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsReferencedBy\",\"relatedIdentifier\":\"10.1371/journal.ppat.1000446\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsSupplementTo\",\"relatedIdentifier\":\"10.1371/journal.ppat.1000446\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsReferencedBy\",\"relatedIdentifier\":\"19478877\",\"relatedIdentifierType\":\"PMID\"},{\"relationType\":\"IsSupplementTo\",\"relatedIdentifier\":\"19478877\",\"relatedIdentifierType\":\"PMID\"}],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[{\"rightsUri\":\"http://creativecommons.org/publicdomain/zero/1.0\"}],\"descriptions\":[{\"description\":\"Data from: A new malaria agent in African hominids.\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"http://legros.com/margery\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"test\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":590,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2020-02-05T10:02:01.000Z\",\"registered\":\"2020-01-31T17:37:30.000Z\",\"published\":\"2011\",\"updated\":\"2020-03-21T23:32:40.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.datacite\",\"type\":\"clients\"}}}},{\"id\":\"10.21367/cool_conf.0094\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.21367/cool_conf.0094\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.21367/cool_conf.0094\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Achakulwisut, P\",\"nameType\":\"Personal\",\"givenName\":\"P\",\"familyName\":\"Achakulwisut\",\"affiliation\":[\"Clean Training, Law\"],\"nameIdentifiers\":[{\"nameIdentifier\":\[...]
