{
  "log": {
    "_recordingName": "Acceptance | anonymous | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "15751a11ae9a0e0c04380cab903adf1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.stage.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 98533,
            "text": "{\"data\":[{\"id\":\"10.70048/3056-0675\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.70048/3056-0675\",\"identifiers\":[],\"creators\":[{\"name\":\"Capling, Bonnie\",\"nameType\":\"Personal\",\"givenName\":\"Bonnie\",\"familyName\":\"Capling\",\"affiliation\":[]},{\"name\":\"DeMint, Kristyn\",\"nameType\":\"Personal\",\"givenName\":\"Kristyn\",\"familyName\":\"DeMint\",\"affiliation\":[]},{\"name\":\"Miller, Courtney\",\"nameType\":\"Personal\",\"givenName\":\"Courtney\",\"familyName\":\"Miller\",\"affiliation\":[]},{\"name\":\"Montero, Jane\",\"nameType\":\"Personal\",\"givenName\":\"Jane\",\"familyName\":\"Montero\",\"affiliation\":[]}],\"titles\":[{\"lang\":\"en-US\",\"title\":\"Intergenerational Collaboration: A Professional Journey Begins\"}],\"publisher\":\"VCU Libraries\",\"container\":{\"type\":\"Series\",\"title\":\"International Journal of Lifelong Learning in Art Education\",\"volume\":\"Volume 2\",\"firstPage\":\"2019\"},\"publicationYear\":2019,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2019\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"JOUR\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceType\":\"Journal Article \",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[{\"description\":\"International Journal of Lifelong Learning in Art Education, Volume 2, 2019\",\"descriptionType\":\"SeriesInformation\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"http://example.com/example\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabrica\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-02-18T10:27:23.000Z\",\"registered\":\"2020-02-18T10:28:37.000Z\",\"published\":\"2019\",\"updated\":\"2020-05-25T16:46:04.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.rph\",\"type\":\"clients\"}}}},{\"id\":\"10.22025/camstag2.55222\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.22025/camstag2.55222\",\"identifiers\":[],\"creators\":[{\"name\":\"Cirocchi, Roberto\",\"nameType\":\"Personal\",\"givenName\":\"Roberto\",\"familyName\":\"Cirocchi\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Randolph, Justus\",\"nameType\":\"Personal\",\"givenName\":\"Justus\",\"familyName\":\"Randolph\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Cheruiyot, Isaac\",\"nameType\":\"Personal\",\"givenName\":\"Isaac\",\"familyName\":\"Cheruiyot\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-1211-8247\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Davies, Justin R\",\"nameType\":\"Personal\",\"givenName\":\"Justin R\",\"familyName\":\"Davies\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Wheeler, James\",\"nameType\":\"Personal\",\"givenName\":\"James\",\"familyName\":\"Wheeler\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Lancia, Massimo\",\"nameType\":\"Personal\",\"givenName\":\"Massimo\",\"familyName\":\"Lancia\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Gioia, Sara\",\"nameTy[...]
