{
  "log": {
    "_recordingName": "Acceptance | anonymous | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4e3591aa55ddbdad88af6b5e8679c6b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 87102,
            "text": "{\"data\":[{\"id\":\"10.0166/fk2.stagefigshare.c.2813559.v1\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.0166/fk2.stagefigshare.c.2813559.v1\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.0166/fk2.stagefigshare.c.2813559.v1\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Dummy, Willy\",\"nameType\":\"Personal\",\"givenName\":\"Willy\",\"familyName\":\"Dummy\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Dummy, Jilly\",\"nameType\":\"Personal\",\"givenName\":\"Jilly\",\"familyName\":\"Dummy\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Daniel Dud Thu 1\",\"nameType\":\"Personal\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"title\":\"Sample Colection resulted from automation tests B\"}],\"publisher\":\"Sample University\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"Agricultural Engineering\"},{\"subject\":\"Computer Engineering\"},{\"subject\":\"90102 Aerospace Materials\",\"schemeUri\":\"http://www.abs.gov.au/ausstats/abs@.nsf/0/6BB427AB9696C225CA2574180004463E\",\"subjectScheme\":\"FOR\"}],\"contributors\":[],\"dates\":[{\"date\":\"2020-04-23\",\"dateType\":\"Created\"},{\"date\":\"2020-04-23\",\"dateType\":\"Updated\"},{\"date\":\"2020\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"GEN\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"Collection\",\"resourceType\":\"Collection\",\"resourceTypeGeneral\":\"Collection\"},\"relatedIdentifiers\":[{\"relationType\":\"IsIdenticalTo\",\"relatedIdentifier\":\"10.0166/fk2.stagefigshare.c.2813559\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[{\"rights\":\"CC BY\",\"rightsUri\":\"https://creativecommons.org/licenses/by/4.0\"}],\"descriptions\":[{\"description\":\"This is a sample Description\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://sample_university.figsh.com/collections/Sample_Colection_resulted_from_automation_tests_B/2813559/1\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-04-23T07:10:41.000Z\",\"registered\":\"2020-04-23T07:10:41.000Z\",\"published\":\"2020\",\"updated\":\"2020-04-23T07:10:42.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"figshare.dud\",\"type\":\"clients\"}}}},{\"id\":\"10.0166/fk2.stagefigshare.c.2813559\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.0166/fk2.stagefigshare.c.2813559\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.0166/fk2.stagefigshare.c.2813559\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Dummy, Willy\",\"nameType\":\"Personal\",\"givenName\":\"Willy\",\"familyName\":\"Dummy\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Dumm[...]
