{
  "log": {
    "_recordingName": "Acceptance | anonymous | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "4e3591aa55ddbdad88af6b5e8679c6b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80266,
            "text": "{\"data\":[{\"id\":\"10.23705/d9c0in56\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.23705/d9c0in56\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.23705/d9c0in56\",\"identifierType\":\"DOI\"},{\"identifier\":\"https://usgs.gov/ark:/test\",\"identifierType\":\"ARK\"},{\"identifier\":\"0989380\",\"identifierType\":\"ServCat_Number\"},{\"identifier\":\"U49845\",\"identifierType\":\"GenBank_Accession_Number\"},{\"identifier\":\"https://igsn.org/test\",\"identifierType\":\"IGSN\"},{\"identifier\":\"urn:lsid:usgs.gov:test:123456\",\"identifierType\":\"LSID\"},{\"identifier\":\"http://purl.org/usgs/test\",\"identifierType\":\"PURL\"},{\"identifier\":\"R098982\",\"identifierType\":\"RefSeq_ID\"}],\"creators\":[{\"name\":\"U.S. Forest Service\",\"nameType\":\"Organizational\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Wright, Justin J.\",\"nameType\":\"Personal\",\"givenName\":\"Justin J.\",\"familyName\":\"Wright\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/1111-1111-1111-111X\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"title\":\"2020-03-22T14:21:29.163Z: Update / Public / Clear Optional Fields\"}],\"publisher\":\"U.S. Geological Survey\",\"container\":{},\"publicationYear\":2001,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2001\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"GEN\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"CreativeWork\",\"resourceType\":\"InteractiveResource\",\"resourceTypeGeneral\":\"InteractiveResource\"},\"relatedIdentifiers\":[{\"relationType\":\"IsSupplementTo\",\"relatedIdentifier\":\"0-12-3456789\",\"relatedIdentifierType\":\"ISBN\"},{\"relationType\":\"IsMetadataFor\",\"relatedIdentifier\":\"123456\",\"relatedIdentifierType\":\"PMID\"},{\"relationType\":\"IsRequiredBy\",\"relatedIdentifier\":\"1974AJ.....79..819H\",\"relatedIdentifierType\":\"bibcode\"},{\"relationType\":\"Continues\",\"relatedIdentifier\":\"http://purl.org/usgs/test\",\"relatedIdentifierType\":\"PURL\"},{\"relationType\":\"IsCitedBy\",\"relatedIdentifier\":\"10.23705/1111111\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsSupplementTo\",\"relatedIdentifier\":\"10.23705/2222222\",\"relatedIdentifierType\":\"DOI\"},{\"relationType\":\"IsVariantFormOf\",\"relatedIdentifier\":\"https://igsn.org/TEST\",\"relatedIdentifierType\":\"IGSN\"},{\"relationType\":\"HasPart\",\"relatedIdentifier\":\"https://usgs.gov\",\"relatedIdentifierType\":\"URL\"},{\"relationType\":\"IsContinuedBy\",\"relatedIdentifier\":\"https://usgs.gov/ark:/test\",\"relatedIdentifierType\":\"ARK\"},{\"relationType\":\"Compiles\",\"relatedIdentifier\":\"https://w3id.org/usgs/test\",\"relatedIdentifierType\":\"w3id\"},{\"relationType\":\"Describes\",\"relatedIdentifier\":\"urn:lsid:usgs.gov:test:123456\",\"relatedIdentifierType\":\"LSID\"}],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://data.usgs.gov/datacatalog/doi-messages/permanent.html\",\"contentUrl\":null,\"metadataVersion\":9,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2020-03-22T14:20:41.000Z\",\"registered\":\"2020-03-22T14:20:44.000Z\",\"published\":\"2001\",\"updated\":\"2020-03-22T14:21:32.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"usgs.dev\",\"type\":\"clients\"}}}},{\"id\":\"10.23705/d9n9k2i1\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.23705/d9n9k2i1\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.23705/d9n9k2i1\",\"identifierType\":\"DOI\"},{\"identifier\":\"U49845\",\"identifierType\":\"ARK\"}],\"creators\":[{\"name\":\"Wright, Justin J.\",\"nameType\":\"Personal\",\"givenName\":\"Justin J.\",\"familyName\":\"Wright\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/2222-2222-2222-222X\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"National Park Service\",\"nameType\":\"Organizational\",\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[{\"title\":\"2020-03-22T14:20:45.723Z: Update / Reserved / Change Status\"}],\"publisher\":\"U.S. Geological Survey\",\"container\":{},\"publicationYear\":2001,\"subjects\":[{\"subject\":\"Mount St. Helens, Volcanology, Cascades, Washington\"}],\"contributors\":[],\"dates\":[{\"date\":\"2001\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"GEN\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"CreativeWork\",\"resourceType\":\"InteractiveResource\",\"resourceTypeGeneral\":\"InteractiveResource\"},\"relatedIdentifiers\":[{\"relationType\":\"IsCitedBy\",\"relatedIdentifier\":\"10.23705/d998qfae\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[],\"formats\":[\"xslx\",\"xml\",\"csv\"],\"version\":null,\"rightsList\":[],\"descriptions\":[{\"description\":\"This is a DOI for a data release about the MSH eruption\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://data.usgs.gov/datacatalog/doi-messages/temporary.html\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"created\":\"2020-03-22T14:20:48.000Z\",\"registered\":\"2020-03-22T14:20:49.000Z\",\"published\":\"2001\",\"updated\":\"2020-03-22T14:20:49.000Z\"[...]
