{
  "log": {
    "_recordingName": "Acceptance | anonymous | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4e3591aa55ddbdad88af6b5e8679c6b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 109001,
            "text": "{\"data\":[{\"id\":\"10.21410/fk27hbr5f/2nrlcf\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.21410/fk27hbr5f/2nrlcf\",\"identifiers\":[],\"creators\":[{\"name\":\"Pagès, Jean-Pierre\",\"nameType\":\"Personal\",\"givenName\":\"Jean-Pierre\",\"familyName\":\"Pagès\",\"affiliation\":[{\"name\":\"(Commissariat à l'Énergie Atomique, Laboratoire de statistiques et d'études économiques et sociales (LSESS), IPSN)\"}],\"nameIdentifiers\":[]},{\"name\":\"Agrafiotis, Démosthène\",\"nameType\":\"Personal\",\"givenName\":\"Démosthène\",\"familyName\":\"Agrafiotis\",\"affiliation\":[{\"name\":\"(Commissariat à l'Énergie Atomique, Laboratoire de statistiques et d'études économiques et sociales (LSESS), IPSN)\"}],\"nameIdentifiers\":[]}],\"titles\":[{\"title\":\"fr.cdsp.ddi.AGORA1982-ddi25.xml\"}],\"publisher\":\"data Sciences Po\",\"container\":{\"type\":\"DataRepository\",\"identifier\":\"doi:10.21410/FK27HBR5F\",\"identifierType\":\"DOI\"},\"publicationYear\":2020,\"subjects\":[],\"contributors\":[{\"name\":\"Sciences Po, Centre De Données Socio-Politiques (CDSP), CNRS\",\"nameType\":\"Personal\",\"affiliation\":[{\"name\":\"(Sciences Po, CNRS)\"}],\"contributorType\":\"ContactPerson\",\"nameIdentifiers\":[]},{\"name\":\"Pagès, Jean-Pierre\",\"nameType\":\"Personal\",\"givenName\":\"Jean-Pierre\",\"familyName\":\"Pagès\",\"affiliation\":[{\"name\":\"(Commissariat à l'Énergie Atomique, Laboratoire de statistiques et d'études économiques et sociales (LSESS), IPSN)\"}],\"contributorType\":\"Producer\",\"nameIdentifiers\":[]},{\"name\":\"Agrafiotis, Démosthène\",\"nameType\":\"Personal\",\"givenName\":\"Démosthène\",\"familyName\":\"Agrafiotis\",\"affiliation\":[{\"name\":\"(Commissariat à l'Énergie Atomique, Laboratoire de statistiques et d'études économiques et sociales (LSESS), IPSN)\"}],\"contributorType\":\"Producer\",\"nameIdentifiers\":[]},{\"name\":\"Favre, Jean\",\"nameType\":\"Personal\",\"givenName\":\"Jean\",\"familyName\":\"Favre\",\"affiliation\":[{\"name\":\"(Électricité de France, Direction des études et recherches)\"}],\"contributorType\":\"Producer\",\"nameIdentifiers\":[]},{\"name\":\"Morlat, Georges\",\"nameType\":\"Personal\",\"givenName\":\"Georges\",\"familyName\":\"Morlat\",\"affiliation\":[{\"name\":\"(Électricité de France, Direction des études et recherches)\"}],\"contributorType\":\"Producer\",\"nameIdentifiers\":[]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[{\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.21410/fk27hbr5f\",\"relatedIdentifierType\":\"DOI\"}],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[{\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://dataspire-test.sciencespo.fr/file.xhtml?persistentId=doi:10.21410/FK27HBR5F/2NRLCF\",\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"mds\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":1,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-05-04T16:06:31.000Z\",\"registered\":\"2020-05-04T16:06:32.000Z\",\"published\":\"2020\",\"updated\":\"2020-05-04T16:06:32.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"inist.cdsp\",\"type\":\"clients\"}}}},{\"id\":\"10.21410/fk27hbr5f/1aoley\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.21410/fk27hbr5f/1aoley\",\"identifiers\":[],\"creators\":[{\"name\":\"Pagès, Jean-Pierre\",\"nameType\":\"Personal\",\"givenName\":\"Jean-Pierre\",\"familyName\":\"Pagès\",\"affiliation\":[{\"name\":\"(Commissariat à l'Énergie Atomique, Laboratoire de statistiques et d'études économiques et sociales (LSESS), IPSN)\"}],\"nameIdentifiers\":[]},{\"name\":\"A[...]
