{
  "log": {
    "_recordingName": "Acceptance | organization_admin | admin/visiting repositories",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "04ec624aa5dc8267b17090b6fa3c5f95",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-type",
              "value": ""
            },
            {
              "name": "include",
              "value": "provider"
            },
            {
              "name": "include-deleted",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "repository-type",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "software",
              "value": ""
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.stage.datacite.org/repositories?certificate=&client-type=&include=provider&include-deleted=&page%5Bnumber%5D=1&page%5Bsize%5D=25&provider-id=&query=&repository-type=&size=25&software=&sort=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 35371,
            "text": "{\"data\":[{\"id\":\"ethz.ubasojs\",\"type\":\"repositories\",\"attributes\":{\"name\":\"027.7 - Zeitschrift für Bibliothekskultur\",\"symbol\":\"ETHZ.UBASOJS\",\"re3data\":null,\"opendoar\":null,\"year\":2013,\"systemEmail\":\"barbara.hirschmann@library.ethz.ch\",\"alternateName\":null,\"description\":null,\"clientType\":\"periodical\",\"repositoryType\":[],\"language\":[],\"certificate\":[],\"domains\":\"0277.ch\",\"issn\":{\"issnl\":null,\"print\":null,\"electronic\":null},\"url\":null,\"created\":\"2013-03-21T11:02:47.000Z\",\"updated\":\"2020-05-12T11:02:59.000Z\",\"isActive\":true,\"hasPassword\":true,\"serviceContact\":{}},\"relationships\":{\"provider\":{\"data\":{\"id\":\"ethz\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.12685\",\"type\":\"prefixes\"}]}}},{\"id\":\"delft.datacent\",\"type\":\"repositories\",\"attributes\":{\"name\":\"3TU Datacentrum\",\"symbol\":\"DELFT.DATACENT\",\"re3data\":null,\"opendoar\":null,\"year\":2011,\"systemEmail\":\"M.M.E.deSmaele@tudelft.nl\",\"alternateName\":null,\"description\":null,\"clientType\":\"repository\",\"repositoryType\":[],\"language\":[],\"certificate\":[],\"domains\":\"*\",\"issn\":{},\"url\":null,\"created\":\"2011-09-30T09:18:16.000Z\",\"u[...]
