{
  "log": {
    "_recordingName": "Acceptance | user | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "02e6813508780035638e0fefb01ec834",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9414,
            "text": "{\"data\":{\"id\":\"0000-0003-1419-2405\",\"type\":\"users\",\"attributes\":{\"givenName\":null,\"familyName\":null,\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0003-1419-2405\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":true,\"created\":\"2019-09-10T07:56:46.000Z\",\"updated\":\"2019-11-19T16:55:30.000Z\",\"email\":\"mfenner@datacite.org\"},\"relationships\":{\"claims\":{\"data\":[{\"id\":\"3999\",\"type\":\"claim\"},{\"id\":\"4000\",\"type\":\"claim\"},{\"id\":\"4001\",\"type\":\"claim\"},{\"id\":\"4002\",\"type\":\"claim\"},{\"id\":\"4004\",\"type\":\"claim\"},{\"id\":\"4005\",\"type\":\"claim\"},{\"id\":\"4006\",\"type\":\"claim\"},{\"id\":\"4007\",\"type\":\"claim\"},{\"id\":\"4008\",\"type\":\"claim\"},{\"id\":\"4009\",\"type\":\"claim\"},{\"id\":\"4010\",\"type\":\"claim\"},{\"id\":\"4011\",\"type\":\"claim\"},{\"id\":\"4012\",\"type\":\"claim\"},{\"id\":[...]
