{
  "log": {
    "_recordingName": "Acceptance | consortium_admin | organization/visiting provider DC consortium organization workshop",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "8ebcb6ebc3427a3410a48ce7c04e6736",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "consortium,consortium-organizations"
            }
          ],
          "url": "https://api.test.datacite.org/providers/workshop?include=consortium%2Cconsortium-organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3811,
            "text": "{\"data\":{\"id\":\"workshop\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite Training Workshop\",\"displayName\":\"DataCite Training Workshop\",\"symbol\":\"WORKSHOP\",\"website\":\"https://datacite.org\",\"systemEmail\":\"info@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"city\":\"\",\"country\":\"\"},\"rorId\":null,\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2018-12-10T07:21:50.000Z\",\"updated\":\"2019-08-06T07:05:20.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"workshop.fenner\",\"type\":\"clients\"},{\"id\":\"workshop.bsb\",\"type\":\"clients\"},{\"id\":\"workshop.khk-dui\",\"type\":\"clients\"},{\"id\":\"workshop.era\",\"type\":\"clients\"},{\"id\":\"workshop.hab\",\"type\":\"clients\"},{\"id\":\"workshop.gwdg\",\"type\":\"clients\"},{\"id\":\"workshop.era2\",\"type\":\"clients\"},{\"id\":\"workshop.dlr\",\"type\":\"clients\"},{\"id\":\"workshop.slsi\",\"type\":\"clients\"},{\"id\":\"workshop.tib\",\"type\":\"clients\"},{\"id\":\"workshop.zbmed\",\"type\":\"clients\"},{\"id\":\"workshop.era3\",\"type\":\"clients\"},{\"id\":\"workshop.ici\",\"type\":\"clients\"},{\"id\":\"workshop.sub\",\"type\":\"clients\"}]},\"prefixes\":{\"data\":[{\"id\":\"10.21352\",\"type\":\"prefixes\"},{\"id\":\"10.21351\",\"type\":\"prefixes\"},{\"id\":\"10.21357\",\"type\":\"prefixes\"},{\"id\":\"10.21356\",\"type\":\"prefixes\"},{\"id\":\"10.21355\",\"type\":\"prefixes\"},{\"id\":\"10.21354\",\"type\":\"prefixes\"},{\"id\":\"10.21358\",\"type\":\"prefixes\"},{\"id\":\"10.21342\",\"type\":\"prefixes\"},{\"id\":\"10.21344\",\"type\":\"prefixes\"},{\"id\":\"10.21343\",\"type\":\"prefixes\"},{\"id\":\"10.21345\",\"type\":\"prefixes\"},{\"id\":\"10.21349\",\"type\":\"prefixes\"},{\"id\":\"10.24424\",\"type\":\"prefixes\"},{\"id\":\"10.24423\",\"type\":\"prefixes\"},{\"id\":\"10.24429\",\"type\":\"prefixes\"}]},\"consortium\":{\"data\":{\"id\":\"dc\",\"type\":\"providers\"}}}},\"meta\":{\"repositoryCount\":14,\"consortiumOrganizationCount\":0},\"included\":[{\"id\":\"dc\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite Consortium\",\"displayName\":\"DataCite Consortium\",\"symbol\":\"DC\",\"website\":\"https://datacite.org\",\"systemEmail\":\"info@datacite.org\",\"groupEmail\":\"info@datacite.org\",\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium\",\"organizationType\":\"serviceProvider\",\"focusArea\":\"general\",\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":\"@datacite609\",\"billingInformation\":{\"city\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{\"email\":\"info@datacite.org\"},\"secondaryServiceContact\":{},\"votingContact\":{\"email\":\"info@datacite.org\",\"givenName\":\"John\",\"familyName\":\"Doe\"},\"created\":\"2019-08-06T07:04:35.000Z\",\"updated\":\"2020-04-23T07:18:35.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]},\"consortiumOrganizations\":{\"data\":[{\"id\":\"demo\",\"type\":\"providers\"},{\"id\":\"datacite\",\"type\":\"providers\"},{\"id\":\"sml\",\"type\":\"providers\"},{\"id\":\"bibtag\",\"type\":\"providers\"},{\"id\":\"workshop\",\"type\":\"providers\"},{\"id\":\"bka\",\"type\":\"providers\"},{\"id\":\"testmary\",\"type\":\"providers\"},{\"id\":\"rphco\",\"type\":\"providers\"},{\"id\":\"testaa\",\"type\":\"providers\"},{\"id\":\"marytest\",\"type\":\"providers\"},{\"id\":\"abcde\",\"type\":\"providers\"},{\"id\":\"uuaa\",\"type\":\"providers\"},{\"id\":\"uuuu\",\"type\":\"providers\"},{\"id\":\"ydtr\",\"type\":\"providers\"},{\"id\":\"vpmj\",\"type\":\"providers\"},{\"id\":\"clyy\",\"type\":\"providers\"},{\"id\":\"mgxi\",\"type\":\"providers\"},{\"id\":\"epow\",\"type\":\"providers\"},{\"id\":\"cnsrtrg\",\"type\":\"providers\"},{\"id\":\"moia\",\"type\":\"providers\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
