{
  "log": {
    "_recordingName": "Acceptance | staff_admin | repository/transfer repository DataCite Test ",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.138"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "36c1e47d560f6cff3f6c1868adc25c80",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "provider"
            }
          ],
          "url": "https://api.stage.datacite.org/repositories/datacite.test?include=provider"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6055,
            "text": "{\"data\":{\"id\":\"datacite.test\",\"type\":\"repositories\",\"attributes\":{\"name\":\"DataCite Test Repository\",\"symbol\":\"DATACITE.TEST\",\"re3data\":null,\"opendoar\":null,\"year\":2017,\"systemEmail\":\"mfenner@datacite.org\",\"globusUuid\":null,\"alternateName\":null,\"description\":\"datacite301\",\"clientType\":\"repository\",\"repositoryType\":[],\"language\":[],\"certificate\":[],\"domains\":\"*\",\"issn\":{},\"url\":null,\"salesforceId\":null,\"created\":\"2017-07-13T15:15:33.000Z\",\"updated\":\"2020-05-25T17:20:29.000Z\",\"isActive\":true,\"hasPassword\":true,\"serviceContact\":{}},\"relationships\":{\"provider\":{\"data\":{\"id\":\"datacite\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.0330\",\"type\":\"prefixes\"},{\"id\":\"10.80225\",\"type\":\"prefixes\"}]}}},\"meta\":{\"doiCount\":35,\"prefixCount\":2},\"included\":[{\"id\":\"datacite\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"DATACITE\",\"website\":\"https://datacite.org\",\"systemEmail\":\"support@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"city\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2011-12-07T13:41:07.000Z\",\"updated\":\"2020-05-20T15:05:22.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.datacite\",\"type\":\"clients\"},{\"id\":\"datacite.pure\",\"type\":\"clients\"},{\"id\":\"datacite.rda\",\"type\":\"clients\"},{\"id\":\"datacite.harvard\",\"type\":\"clients\"},{\"id\":\"datacite.egi\",\"type\":\"clients\"},{\"id\":\"datacite.elsevier\",\"type\":\"clients\"},{\"id\":\"datacite.atmire\",\"type\":\"clients\"},{\"id\":\"datacite.cmcc\",\"type\":\"clients\"},{\"id\":\"datacite.axiom\",\"type\":\"clients\"},{\"id\":\"datacite.unibz\",\"type\":\"clients[...]
