<div class="row">
  <div class="col-md-3">
    {{#if (and (can 'create doi') model.isActive)}}
      <div class="panel facets">
        <div class="panel-body">
          <CreateDoiButton @model={{model}} class="create-doi-button" />
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-9">
    <RepositoryInfo @model={{model}} />
  </div>
</div>

