<div class="row">
  <div data-test-left-sidebar class="col-md-3">
    {{#if (and this.model.isActive (can 'update repository' this.model) (or (can 'create doi' this.model) (can 'upload doi' this.model)) (not (gt this.model.meta.prefixCount 0)))}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <BsAlert @dismissible={{false}} @type="warning">
            Can't create DOI without a prefix.
          </BsAlert>
        </div>
      </div>
    {{/if}}

    {{#if this.model.isActive}}
      <div class="panel facets add-25">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="shrink">
              {{#if (and this.model.isActive (can 'update repository' this.model) (or (can 'create doi' this.model) (can 'upload doi' this.model)) (gt this.model.meta.prefixCount 0))}}
                <CreateDoiButton @model={{this.model}} class="create-doi-button" />
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-9">
    <RepositoryInfo @model={{this.model}} />
  </div>
</div>

