<div class="row">
  <div class="col-md-3">
    {{#if (and model.isActive (can 'update repository' model) (or (can 'create doi' model) (can 'upload doi' model)) (not (gt model.meta.prefixCount 0)))}}
      <div class="panel panel-transparent">
        <div class="panel-body">
          <BsAlert @dismissible={{false}} @type="warning">
            Can't create DOI without a prefix.
          </BsAlert>
        </div>
      </div>
    {{/if}}

    {{#if model.isActive}}
      <div class="panel facets add-25">
        <div class="panel-body">
          <div class="btn-toolbar">
            <div class="shrink">
              {{#if (and model.isActive (can 'update repository' model) (or (can 'create doi' model) (can 'upload doi' model)) (gt model.meta.prefixCount 0))}}
                <CreateDoiButton @model={{model}} class="create-doi-button" />
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-9">
    <RepositoryInfo @model={{model}} />
  </div>
</div>

