{
  "log": {
    "_recordingName": "Acceptance | user | admin/visiting homepage",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "68bb570157b7b923848d2b45579d02f2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1377,
            "text": "{\"data\":{\"id\":\"0000-0001-6528-2027\",\"type\":\"users\",\"attributes\":{\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0001-6528-2027\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":false,\"created\":\"2018-08-20T16:40:54.000Z\",\"updated\":\"2019-08-31T07:28:05.000Z\",\"email\":\"martin.fenner@datacite.org\"},\"relationships\":{\"claims\":{\"data\":[{\"id\":\"809773\",\"type\":\"claim\"},{\"id\":\"809774\",\"type\":\"claim\"},{\"id\":\"809775\",\"type\":\"claim\"},{\"id\":\"809776\",\"type\":\"claim\"},{\"id\":\"809777\",\"type\":\"claim\"},{\"id\":\"809778\",\"type\":\"claim\"},{\"id\":\"809779\",\"type\":\"claim\"},{\"id\":\"809780\",\"type\":\"claim\"},{\"id\":\"809781\",\"type\":\"claim\"},{\"id\":\"809782\",\"type\":\"claim\"},{\"id\":\"809783\",\"type\":\"claim\"},{\"id\":\"809784\",\"type\":\"claim\"},{\"id\":\"809785\",\"type\":\"claim\"},{\"id\":\"809786\",\"type\":\"claim\"},{\"id\":\"809787\",\"type\":\"claim\"},{\"id\":\"809788\",\"type\":\"claim\"},{\"id\":\"809789\",\"type\":\"claim\"},{\"id\":\"809790\",\"type\":\"claim\"},{\"id\":\"809791\",\"type\":\"claim\"},{\"id\":\"809792\",\"type\":\"claim\"},{\"id\":\"809793\",\"type\":\"claim\"},{\"id\":\"809794\",\"type\":\"claim\"},{\"id\":\"809795\",\"type\":\"claim\"},{\"id\":\"809796\",\"type\":\"claim\"},{\"id\":\"836622\",\"type\":\"claim\"},{\"id\":\"836623\",\"type\":\"claim\"},{\"id\":\"836630\",\"type\":\"claim\"},{\"id\":\"836632\",\"type\":\"claim\"},{\"id\":\"836634\",\"type\":\"claim\"}]}}},\"meta\":{\"dois\":[],\"published\":[],\"resourceTypes\":[],\"views\":[],\"downloads\":[],\"citations\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      },
      {
        "_id": "ff8b13ed968f596ac396c057c663b4fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0001-6528-2027"
            },
            {
              "name": "user_id",
              "value": "0000-0001-6528-2027"
            }
          ],
          "url": "https://api.test.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 164,
            "text": "{\"data\":[],\"meta\":{\"total\":0,\"totalPages\":0,\"page\":1},\"links\":{\"self\":\"https://api.test.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
