{
  "log": {
    "_recordingName": "Acceptance | staff_admin | admin/visiting homepage",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "ec7fef31b73634a8d10dc67d2e59ca71",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/providers/admin"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1090,
            "text": "{\"data\":{\"id\":\"admin\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"ADMIN\",\"website\":\"https://datacite.org\",\"systemEmail\":\"tech@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":null,\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":\"@datacite\",\"billingInformation\":{\"city\":\"\",\"address\":\"\",\"postCode\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"salesforceId\":null,\"technicalContact\":{\"email\":\"kristian.garza@datacite.org\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\"},\"secondaryTechnicalContact\":{},\"billingContact\":{\"email\":\"support@datacite.org\",\"givenName\":\"Britta\",\"familyName\":\"Dreyer\"},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2010-01-01T00:00:00.000Z\",\"updated\":\"2020-03-26T19:16:22.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]}}},\"meta\":{\"repositoryCount\":0,\"consortiumOrganizationCount\":0}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
