{
  "log": {
    "_recordingName": "Acceptance | organization_admin | repository/visiting repository DataCite Journal dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "381bf9335faf463617b532243540ad45",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "provider"
            }
          ],
          "url": "https://api.test.datacite.org/repositories/datacite.datacite?include=provider"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6137,
            "text": "{\"data\":{\"id\":\"datacite.datacite\",\"type\":\"repositories\",\"attributes\":{\"name\":\"DataCite Repository\",\"symbol\":\"DATACITE.DATACITE\",\"re3data\":null,\"opendoar\":null,\"year\":2011,\"systemEmail\":\"support@datacite.org\",\"alternateName\":null,\"description\":null,\"clientType\":\"periodical\",\"repositoryType\":[],\"language\":[\"en\",\"fr\"],\"certificate\":[],\"domains\":\"datacite.org\",\"issn\":{\"issnl\":null,\"print\":\"1545-7885\",\"electronic\":\"1544-9173\"},\"url\":null,\"created\":\"2011-12-07T13:43:39.000Z\",\"updated\":\"2019-08-24T06:22:34.000Z\",\"isActive\":true,\"hasPassword\":true,\"serviceContact\":{\"email\":\"mfenner@datacite.org\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\"}},\"relationships\":{\"provider\":{\"data\":{\"id\":\"datacite\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.5438\",\"type\":\"prefixes\"},{\"id\":\"10.70002\",\"type\":\"prefixes\"},{\"id\":\"10.70001\",\"type\":\"prefixes\"}]}}},\"meta\":{\"doiCount\":196,\"prefixCount\":3},\"included\":[{\"id\":\"datacite\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"DATACITE\",\"website\":\"https://datacite.org\",\"systemEmail\":\"support@datacite.org\",\"groupEmail\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2011-12-07T13:41:07.000Z\",\"updated\":\"2020-03-21T20:43:45.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.datacite\",\"type\":\"clients\"},{\"id\":\"datacite.pure\",\"type\":\"clients\"},{\"id\":\"datacite.rda\",\"type\":\"clients\"},{\"id\":\"datacite.harvard\",\"type\":\"clients\"},{\"id\":\"datacite.egi\",\"type\":\"clients\"},{\"id\":\"datacite.elsevier\",\"type\":\"clients\"},{\"id\":\"datacite.atmire\",\"type\":\"clients\"},{\"id\":\"datacite.cmcc\",\"type\":\"clients\"},{\"id\":\"datacite.axiom\",\"type\":\"clients\"},{\"id\":\"datacite.unibz\",\"type\":\"clients[...]
