{
  "log": {
    "_recordingName": "Acceptance | organization_admin | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4cdd8809b40bf85f1adcba4089b41a13",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0003-1419-2405"
            },
            {
              "name": "user_id",
              "value": "0000-0003-1419-2405"
            }
          ],
          "url": "https://api.stage.datacite.org/dois?user-id=0000-0003-1419-2405&user_id=0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 73254,
            "text": "{\"data\":[{\"id\":\"10.80225/da52-7919\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/da52-7919\",\"identifiers\":[],\"creators\":[{\"name\":\"Buys, Matt\",\"nameType\":\"Personal\",\"givenName\":\"Matt\",\"familyName\":\"Buys\",\"affiliation\":[\"DataCite\"],\"nameIdentifiers\":[]},{\"name\":\"Dasler, Robin\",\"nameType\":\"Personal\",\"givenName\":\"Robin\",\"familyName\":\"Dasler\",\"affiliation\":[\"European Organization for Nuclear Research\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-4695-7874\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[\"DataCite\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"PIDs for instruments: a way forward\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"instrument\"},{\"subject\":\"rda\"},{\"subject\":\"featured\"}],\"contributors\":[{\"name\":\"Garza, Kristian\",\"nameType\":\"Personal\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\",\"affiliation\":[\"Manchester University\"],\"contributorType\":\"ContactPerson\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-3484-6875\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\",\"dateInformation\":null}],\"language\":null,\"types\":{\"ris\":\"RPRT\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"InteractiveResource\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"HasMetadata\",\"relatedIdentifier\":\"10.7914/sn/sh\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"MIT License\",\"rightsUri\":\"https://opensource.org/licenses/MIT\",\"schemeUri\":\"https://spdx.org/licenses/\",\"rightsIdentifier\":\"mit\",\"rightsIdentifierScheme\":\"SPDX\"}],\"descriptions\":[{\"lang\":null,\"description\":\"As a community-driven organization, we continue to focus and explore use cases with our members. The persistent identification and citation of scientific instruments is a particular use case that continues to gain momentum across community stakeholders...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[{\"awardUri\":null,\"awardTitle\":null,\"funderName\":\"American Red Cross\",\"awardNumber\":null,\"funderIdentifier\":\"https://doi.org/10.13039/100006744\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"url\":\"https://blog.datacite.org/pids-for-instruments-a-way-forward/\",\"contentUrl\":[],\"metadataVersion\":17,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-19T10:51:07.000Z\",\"registered\":\"2020-03-19T10:51:07.000Z\",\"published\":\"2020\",\"updated\":\"2020-09-29T17:01:48.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.12685/wf4y-q710\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.12685/wf4y-q710\",\"identifiers\":[],\"creators\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"dssvdsdfgfds\"[...]
