{
  "log": {
    "_recordingName": "Acceptance | organization_admin | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "02e6813508780035638e0fefb01ec834",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1290,
            "text": "{\"data\":{\"id\":\"0000-0003-1419-2405\",\"type\":\"users\",\"attributes\":{\"givenName\":null,\"familyName\":null,\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0003-1419-2405\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":true,\"created\":\"2019-09-10T07:56:46.000Z\",\"updated\":\"2019-11-19T16:55:30.000Z\"},\"relationships\":{}},\"meta\":{\"dois\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":20},{\"id\":\"2019\",\"title\":\"2019\",\"count\":62},{\"id\":\"2018\",\"title\":\"2018\",\"count\":2}],\"published\":[{\"id\":\"2023\",\"title\":\"2023\",\"count\":1},{\"id\":\"2020\",\"title\":\"2020\",\"count\":22},{\"id\":\"2019\",\"title\":\"2019\",\"count\":39},{\"id\":\"2017\",\"title\":\"2017\",\"count\":2},{\"id\":\"2016\",\"title\":\"2016\",\"count\":5},{\"id\":\"2013\",\"title\":\"2013\",\"count\":1},{\"id\":\"2012\",\"title\":\"2012\",\"count\":1},{\"id\":\"2011\",\"title\":\"2011\",\"count\":12},{\"id\":\"2008\",\"title\":\"2008\",\"count\":1}],\"resourceTypes\":[{\"id\":\"text\",\"title\":\"Text\",\"count\":33},{\"id\":\"software\",\"title\":\"Software\",\"count\":28},{\"id\":\"dataset\",\"title\":\"Dataset\",\"count\":19},{\"id\":\"interactive-resource\",\"title\":\"Interactive Resource\",\"count\":2},{\"id\":\"event\",\"title\":\"Event\",\"count\":1},{\"id\":\"model\",\"title\":\"Model\",\"count\":1}],\"views\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":1662}],\"downloads\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":846}],\"citations\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":16}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      },
      {
        "_id": "4b6fbba4515fd1f15f6660a4dfe46471",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0003-1419-2405"
            },
            {
              "name": "user_id",
              "value": "0000-0003-1419-2405"
            }
          ],
          "url": "https://api.test.datacite.org/dois?user-id=0000-0003-1419-2405&user_id=0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 66321,
            "text": "{\"data\":[{\"id\":\"10.80225/da52-7919\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/da52-7919\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.80225/da52-7919\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Buys, Matt\",\"nameType\":\"Personal\",\"givenName\":\"Matt\",\"familyName\":\"Buys\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Dasler, Robin\",\"nameType\":\"Personal\",\"givenName\":\"Robin\",\"familyName\":\"Dasler\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-4695-7874\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"PIDs for instruments: a way forward\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"instrument\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null},{\"subject\":\"rda\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null},{\"subject\":\"featured\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null}],\"contributors\":[{\"name\":\"Garza, Kristian\",\"nameType\":\"Personal\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\",\"affiliation\":[],\"contributorType\":\"DataCollector\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-3484-6875\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\",\"dateInformation\":null}],\"language\":null,\"types\":{\"resourceTypeGeneral\":\"InteractiveResource\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"InteractiveResource\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"HasMetadata\",\"relatedIdentifier\":\"10.7914/sn/sh\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"MIT License\",\"rightsUri\":\"http://spdx.org/licenses/MIT.json\"}],\"descriptions\":[{\"lang\":null,\"description\":\"As a community-driven organization, we continue to focus and explore use cases with our members. The persistent identification and citation of scientific instruments is a particular use case that continues to gain momentum across community stakeholders...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[{\"awardUri\":null,\"awardTitle\":null,\"funderName\":\"American Red Cross\",\"awardNumber\":null,\"funderIdentifier\":\"https://doi.org/10.13039/100006744\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"url\":\"https://blog.datacite.org/pids-for-instruments-a-way-forward/\",\"contentUrl\":[],\"metadataVersion\":14,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-19T10:51:07.000Z\",\"registered\":\"2020-03-19T10:51:07.000Z\",\"published\":\"2020\",\"updated\":\"2020-05-04T08:02:43.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.21367/00108\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.21367/00108\",\"identifiers\":[{\"identifier\":\"https://handle.test.datacite.org/10.21367/00108\",\"identifierType\":\"DOI\"}],\"creators\":[{\"name\":\"Achakulwisut, P\",\"nameType\":\"Personal\",\"givenName\":\"P\",\"familyName\":\"Achakulwisut\",\"affiliation\":[\"Clean Training, Law 88\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"},{\"nameIdentifier\":\"fdah1fdher656\",\"nameIdentifierScheme\":\"ISNI\"},{\"nameIdentifier\":\"hhhhhhh\",\"nameIdentifierScheme\":\"ResearchID\"},{\"nameIdentifier\":\"SCOPUSSSSSS\",\"nameIdentifierScheme\":\"Scopus ID\"},{\"nameIdentifier\":\"ppppppp\",\"nameIdentifierScheme\":\"arXiv ID\"},{\"nameIdentifier\":\"gogogogogo\",\"nameIdentifierScheme\":\"eRA ID\"}]}],\"titles\":[{\"title\":\"BLSAAAAA doi\"}],\"publisher\":\"Clean Training\",\"container\":{},\"publicationYear\":2019,\"subjects\":[],\"contributors\":[],\"dates\":[{\"date\":\"2019\",\"dateType\":\"Issued\"}],\"language\":null,\"types\":{\"ris\":\"DATA\",\"bibtex\":\"misc\",\"citeproc\":\"dataset\",\"schemaOrg\":\"Dataset\",\"resourceType\":\"Dataset\",\"resourceTypeGeneral\":\"Dataset\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[{\"awardTitle\":\"EsploroGrantWrapper\",\"funderName\":\"St. Jerome's University Waterloo\",\"awardNumber\":\"FROM DEPOSIT\",\"funderIdentifierType\":\"ISNI\"},{\"funderName\":\"University of Bucharest Bucharest\",\"funderIdentifierType\":\"ISNI\"}],\"url\":\"http://il-leana-800.Corp.Exlibrisgroup.[...]
