{{#if (can "read index")}}
  {{application-header default=true}}

  <div class="container-fluid">
    <div class="content">
      {{index-header}}
      {{member-list model=model searchable=true}}
    </div>
  </div>
{{/if}}
