{{#if (can "read member" model)}}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{#link-to "index"}}DataCite{{/link-to}}</li>
  </ol>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent" id="content-member">
        <div class="panel-title work">
          <h2>{{model.title}}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-9'>
      <div class="tab-content nav-tabs-member">
        {{#bs-nav type="tabs" as |nav|}}
          {{#nav.item}}{{#nav.link-to "members.show.index" model.id class="nav-link"}}Info{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "members.show.data-centers" model.id class="nav-link"}}Clients{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "members.show.users" model.id class="nav-link"}}Users{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "members.show.works" model.id class="nav-link"}}DOIs{{/nav.link-to}}{{/nav.item}}
        {{/bs-nav}}
      </div>
    </div>
  </div>
  {{outlet}}
{{else}}
  <div class="row">
    <div class='col-md-9'>
      {{#bs-alert dismissible=false type="warning"}}
        You have no permissions to access this page.
      {{/bs-alert}}
    </div>
  </div>
{{/if}}
