  <div class="row">
    <div class='col-md-9'>
      <h2 class="work">{{model.prefix.id}}</h2>
    </div>

    {{#if (can "update prefix" model.prefix)}}
      <div class='col-md-3'>
        <div class="panel facets add">
          <div class="panel-body">
            <div class="btn-toolbar">
              <div class="btn-group btn-group-sm">
                 {{#link-to "clients.show.prefixes.show.delete" model.client.id model.prefix.id class="btn btn-warning"}}{{fa-icon "pencil"}} Remove Prefix{{/link-to}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-transparent">
        <div class="panel-body">
          {{#if (eq model.prefix.id "10.5072")}}
            <span class="icon-default">Sandbox prefix</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      {{client-sidebar model=model}}
    </div>
  </div>
