{
  "log": {
    "_recordingName": "Acceptance | user | admin/visiting info",
    "browser": {
      "name": "Chrome",
      "version": "80.0.3987.149"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "68bb570157b7b923848d2b45579d02f2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/users/0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 423,
            "text": "{\"data\":{\"id\":\"0000-0001-6528-2027\",\"type\":\"users\",\"attributes\":{\"givenNames\":\"Martin\",\"familyName\":\"Fenner\",\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0001-6528-2027\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":false,\"created\":\"2018-08-20T16:40:54.000Z\",\"updated\":\"2019-08-31T07:28:05.000Z\"},\"relationships\":{}},\"meta\":{\"dois\":[],\"published\":[],\"resourceTypes\":[],\"views\":[],\"downloads\":[],\"citations\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116,
      },
      {
        "_id": "ff8b13ed968f596ac396c057c663b4fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0001-6528-2027"
            },
            {
              "name": "user_id",
              "value": "0000-0001-6528-2027"
            }
          ],
          "url": "https://api.test.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 164,
            "text": "{\"data\":[],\"meta\":{\"total\":0,\"totalPages\":0,\"page\":1},\"links\":{\"self\":\"https://api.test.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
