<div class="row">
  <div class="col-md-9">
    <div class="panel panel-transparent" id="content-member">
      <div class="panel-body">
        <div>{{model.name}} has <span class="icon-info">{{pluralize-word model.currentClientCount "Client"}}</span>.</div>
        <div>{{model.name}} has registered <span class="icon-info">{{pluralize-word model.currentDoiCount "DOI"}}</span> in 2017.</div>
      </div>
    </div>
  </div>
</div>
