{
  "log": {
    "_recordingName": "Acceptance | user | admin/visiting providers",
    "browser": {
      "name": "Chrome",
      "version": "87.0.4280.88"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "9036fd0eebc7b0668fc976b178030b89",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/users/0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1408,
            "text": "{\"data\":{\"id\":\"0000-0001-6528-2027\",\"type\":\"users\",\"attributes\":{\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0001-6528-2027\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":false,\"created\":\"2018-08-20T16:40:54.000Z\",\"updated\":\"2019-08-31T07:28:05.000Z\",\"email\":\"martin.fenner@datacite.org\"},\"relationships\":{\"claims\":{\"data\":[{\"id\":\"809773\",\"type\":\"claim\"},{\"id\":\"809774\",\"type\":\"claim\"},{\"id\":\"809775\",\"type\":\"claim\"},{\"id\":\"809776\",\"type\":\"claim\"},{\"id\":\"809777\",\"type\":\"claim\"},{\"id\":\"809778\",\"type\":\"claim\"},{\"id\":\"809779\",\"type\":\"claim\"},{\"id\":\"809780\",\"type\":\"claim\"},{\"id\":\"809781\",\"type\":\"claim\"},{\"id\":\"809782\",\"type\":\"claim\"},{\"id\":\"809783\",\"type\":\"claim\"},{\"id\":\"809784\",\"type\":\"claim\"},{\"id\":\"809785\",\"type\":\"claim\"},{\"id\":\"809786\",\"type\":\"claim\"},{\"id\":\"809787\",\"type\":\"claim\"},{\"id\":\"809788\",\"type\":\"claim\"},{\"id\":\"809789\",\"type\":\"claim\"},{\"id\":\"809790\",\"type\":\"claim\"},{\"id\":\"809791\",\"type\":\"claim\"},{\"id\":\"809792\",\"type\":\"claim\"},{\"id\":\"809793\",\"type\":\"claim\"},{\"id\":\"809794\",\"type\":\"claim\"},{\"id\":\"809795\",\"type\":\"claim\"},{\"id\":\"809796\",\"type\":\"claim\"},{\"id\":\"836622\",\"type\":\"claim\"},{\"id\":\"836623\",\"type\":\"claim\"},{\"id\":\"836630\",\"type\":\"claim\"},{\"id\":\"836632\",\"type\":\"claim\"},{\"id\":\"836634\",\"type\":\"claim\"},{\"id\":\"854971\",\"type\":\"claim\"}]}}},\"meta\":{\"dois\":[],\"published\":[],\"resourceTypes\":[],\"views\":[],\"downloads\":[],\"citations\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 844,
      },
      {
        "_id": "fd95264046b19383cdc0d59790663334",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0001-6528-2027"
            },
            {
              "name": "user_id",
              "value": "0000-0001-6528-2027"
            }
          ],
          "url": "https://api.stage.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 165,
            "text": "{\"data\":[],\"meta\":{\"total\":0,\"totalPages\":0,\"page\":1},\"links\":{\"self\":\"https://api.stage.datacite.org/dois?user-id=0000-0001-6528-2027&user_id=0000-0001-6528-2027\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-credential-username",
              "value": "0000-0001-6528-2027"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 846,
      },
      {
        "_id": "d9d1d134a649e96b5452483944cdec38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "focus-area",
              "value": ""
            },
            {
              "name": "include-deleted",
              "value": ""
            },
            {
              "name": "member-type",
              "value": ""
            },
            {
              "name": "non-profit-status",
              "value": ""
            },
            {
              "name": "organization-id",
              "value": ""
            },
            {
              "name": "organization-type",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "include": "contacts",
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "region",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.stage.datacite.org/providers?focus-area=&include-deleted=&member-type=&non-profit-status=&organization-id=&organization-type=&page%5Bnumber%5D=1&page%5Bsize%5D=25&page%5Binclude%5D=contacts&query=&region=&size=25&sort=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 21366,
            "text": "{\"data\":[{\"id\":\"akristia\",\"type\":\"providers\",\"attributes\":{\"name\":\"AA Test Member\",\"displayName\":\"AA Test Member\",\"symbol\":\"AKRISTIA\",\"website\":null,\"description\":\"#Markdown is cool [link](http://emberjs.com)\",\"region\":null,\"country\":null,\"logoUrl\":\"https://assets.test.datacite.org/images/members/akristia.png?1602618090\",\"memberType\":\"consortium\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"joined\":null,\"rorId\":null,\"created\":\"2019-08-20T11:03:06Z\",\"updated\":\"2021-02-15T21:34:49Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]},\"contacts\":{\"data\":[{\"id\":\"c6adc9ec-24dd-41c6-a15f-f08ebd01a4ca\",\"type\":\"contacts\"}]},\"consortiumOrganizations\":{\"data\":[{\"id\":\"aa\",\"type\":\"providers\"},{\"id\":\"hola\",\"type\":\"providers\"}]}}},{\"id\":\"aa\",\"type\":\"providers\",\"attributes\":{\"name\":\"AAA\",\"displayName\":\"AAA\",\"symbol\":\"AA\",\"website\":\"http://aaa.org\",\"description\":null,\"region\":null,\"country\":null,\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"joined\":null,\"rorId\":null,\"created\":\"2019-08-27T14:20:04Z\",\"updated\":\"2021-03-02T17:56:46Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"ands.centre92\",\"type\":\"clients\"},{\"id\":\"aa.pyramind\",\"type\":\"clients\"}]},\"prefixes\":{\"data\":[{\"id\":\"10.24413\",\"type\":\"prefixes\"},{\"id\":\"10.33684\",\"type\":\"prefixes\"},{\"id\":\"10.70142\",\"type\":\"prefixes\"},{\"id\":\"10.80446\",\"type\":\"prefixes\"},{\"id\":\"10.80449\",\"type\":\"prefixes\"},{\"id\":\"10.80451\",\"type\":\"prefixes\"},{\"id\":\"10.80447\",\"type\":\"prefixes\"},{\"id\":\"10.80450\",\"type\":\"prefixes\"}]},\"contacts\":{\"data\":[{\"id\":\"c1e5688f-457f-42eb-96c9-2359b2c8e559\",\"type\":\"contacts\"},{\"id\":\"da34545c-a659-448c-8b1c-09386da5adad\",\"type\":\"contacts\"}]},\"consortium\":{\"data\":{\"id\":\"akristia\",\"type\":\"providers\"}}}},{\"id\":\"abtestc\",\"type\":\"providers\",\"attributes\":{\"name\":\"AB Test Consortium Lead\",\"displayName\":\"AB Test Consortium Lead\",\"symbol\":\"ABTESTC\",\"website\":null,\"description\":null,\"region\":null,\"country\":null,\"logoUrl\":null,\"memberType\":\"consortium\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"joined\":null,\"rorId\":null,\"created\":\"2021-02-23T06:49:5[...]
