{
  "log": {
    "_recordingName": "Acceptance | consortium_admin | provider/visiting provider DC dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "bef5f0dcfb0b0170fa1261d25dd724da",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "consortium,consortium-organizations"
            }
          ],
          "url": "https://api.test.datacite.org/providers/dc?include=consortium%2Cconsortium-organizations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 28067,
            "text": "{\"data\":{\"id\":\"dc\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite Consortium\",\"displayName\":\"DataCite Consortium\",\"symbol\":\"DC\",\"website\":\"https://datacite.org\",\"systemEmail\":\"info@datacite.org\",\"groupEmail\":\"info@datacite.org\",\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium\",\"organizationType\":\"serviceProvider\",\"focusArea\":\"general\",\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":\"@datacite948\",\"billingInformation\":{\"city\":\"\"},\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{\"email\":\"info@datacite.org\"},\"secondaryServiceContact\":{},\"votingContact\":{\"email\":\"info@datacite.org\",\"givenName\":\"John\",\"familyName\":\"Doe\"},\"created\":\"2019-08-06T07:04:35.000Z\",\"updated\":\"2020-05-04T16:33:35.000Z\"},\"relationships\":{\"clients\":{\"data\":[]},\"prefixes\":{\"data\":[]},\"consortiumOrganizations\":{\"data\":[{\"id\":\"demo\",\"type\":\"providers\"},{\"id\":\"datacite\",\"type\":\"providers\"},{\"id\":\"sml\",\"type\":\"providers\"},{\"id\":\"bibtag\",\"type\":\"providers\"},{\"id\":\"workshop\",\"type\":\"providers\"},{\"id\":\"bka\",\"type\":\"providers\"},{\"id\":\"testmary\",\"type\":\"providers\"},{\"id\":\"rphco\",\"type\":\"providers\"},{\"id\":\"testaa\",\"type\":\"providers\"},{\"id\":\"marytest\",\"type\":\"providers\"},{\"id\":\"abcde\",\"type\":\"providers\"},{\"id\":\"uuaa\",\"type\":\"providers\"},{\"id\":\"uuuu\",\"type\":\"providers\"},{\"id\":\"ydtr\",\"type\":\"providers\"},{\"id\":\"vpmj\",\"type\":\"providers\"},{\"id\":\"clyy\",\"type\":\"providers\"},{\"id\":\"mgxi\",\"type\":\"providers\"},{\"id\":\"epow\",\"type\":\"providers\"},{\"id\":\"cnsrtrg\",\"type\":\"providers\"},{\"id\":\"moia\",\"type\":\"providers\"},{\"id\":\"xwpb\",\"type\":\"providers\"}]}}},\"meta\":{\"repositoryCount\":0,\"consortiumOrganizationCount\":21},\"included\":[{\"id\":\"demo\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite Demo Provider\",\"displayName\":\"DataCite Demo Provider\",\"symbol\":\"DEMO\",\"website\":\"https://datacite.org\",\"systemEmail\":\"tech@datacite.org\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":\"academicInstitution\",\"focusArea\":\"humanities\",\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"city\":\"\",\"country\":\"\"},\"rorId\":null,\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2010-01-01T00:00:00.000Z\",\"updated\":\"2019-11-27T21:03:37.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"demo.cos\",\"type\":\"clients\"},{\"id\":\"demo.uky\",\"type\":\"clients\"},{\"id\":\"demo.datacite\",\"type\":\"clients\"},{\"id\":\"demo.orbis\",\"type\":\"clients\"},{\"id\"[...]
