{
  "log": {
    "_recordingName": "Acceptance | staff_admin | provider/new provider form",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.122"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "07f82bc900c754f84b41be2e97ce61ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.test.datacite.org/providers/random"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 17,
            "text": "{\"symbol\":\"KUMM\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 89,
      },
      {
        "_id": "7e7e49ead799f83faeff6c834b49bc62",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "id",
              "value": "KUMM"
            }
          ],
          "url": "https://api.test.datacite.org/providers?id=KUMM"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 121,
            "text": "{\"data\":[],\"meta\":{\"total\":0,\"totalPages\":0,\"page\":1},\"links\":{\"self\":\"https://api.test.datacite.org/providers?id=KUMM\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
