{
  "log": {
    "_recordingName": "Acceptance | staff_admin | provider/new provider form",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "96c4bc11ad44453aabab4d248362754c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/providers/random"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 17,
            "text": "{\"symbol\":\"KOLA\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      },
      {
        "_id": "fccb032b7b95127093d7ecf8ff734a46",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "id",
              "value": "KOLA"
            }
          ],
          "url": "https://api.stage.datacite.org/providers?id=KOLA"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 122,
            "text": "{\"data\":[],\"meta\":{\"total\":0,\"totalPages\":0,\"page\":1},\"links\":{\"self\":\"https://api.stage.datacite.org/providers?id=KOLA\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
