{
  "log": {
    "_recordingName": "Acceptance | staff_admin | repository/editing repository DataCite Test delete form",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "36c1e47d560f6cff3f6c1868adc25c80",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "provider"
            }
          ],
          "url": "https://api.stage.datacite.org/repositories/datacite.test?include=provider"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1853,
            "text": "{\"data\":{\"id\":\"datacite.test\",\"type\":\"repositories\",\"attributes\":{\"name\":\"DataCite Test Repository\",\"symbol\":\"DATACITE.TEST\",\"re3data\":null,\"opendoar\":null,\"year\":2017,\"systemEmail\":\"mfenner@datacite.org\",\"globusUuid\":null,\"alternateName\":null,\"description\":\"datacite301\",\"clientType\":\"repository\",\"repositoryType\":[],\"language\":[],\"certificate\":[],\"domains\":\"*\",\"issn\":{},\"url\":null,\"salesforceId\":null,\"created\":\"2017-07-13T15:15:33.000Z\",\"updated\":\"2020-05-25T17:20:32.000Z\",\"isActive\":true,\"hasPassword\":true,\"serviceContact\":{}},\"relationships\":{\"provider\":{\"data\":{\"id\":\"au\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.0330\",\"type\":\"prefixes\"},{\"id\":\"10.80225\",\"type\":\"prefixes\"}]}}},\"meta\":{\"doiCount\":35,\"prefixCount\":2},\"included\":[{\"id\":\"au\",\"type\":\"providers\",\"attributes\":{\"name\":\"American University\",\"displayName\":\"American University\",\"symbol\":\"AU\",\"website\":\"https://american.edu\",\"systemEmail\":\"datacite@american.edu\",\"groupEmail\":null,\"globusUuid\":null,\"description\":null,\"region\":\"AMER\",\"country\":\"US\",\"logoUrl\":\"https://assets.test.datacite.org/images/members/au.png?1583532391\",\"memberType\":\"direct_member\",\"organizationType\":\"academicInstitution\",\"focusArea\":\"general\",\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"twitterHandle\":null,\"billingInformation\":{\"city\":\"\"},\"rorId\":null,\"salesforceId\":null,\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2018-10-26T16:47:09.000Z\",\"updated\":\"2020-03-06T22:06:32.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.test\",\"type\":\"clients\"},{\"id\":\"au.dra\",\"type\":\"clients\"}]},\"prefixes\":{\"data\":[{\"id\":\"10.0330\",\"type\":\"prefixes\"},{\"id\":\"10.33501\",\"type\":\"prefixes\"},{\"id\":\"10.80225\",\"type\":\"prefixes\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 669,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
