{
  "log": {
    "_recordingName": "Acceptance | consortium_admin | admin/visiting prefixes",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "2cf221fbb6cd6ad3e762b922473d9fa1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "include",
              "value": "providers,clients"
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.stage.datacite.org/prefixes?client-id=&include=providers%2Cclients&page%5Bnumber%5D=1&page%5Bsize%5D=25&provider-id=&query=&size=25&sort=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 28032,
            "text": "{\"data\":[{\"id\":\"10.0001\",\"type\":\"prefixes\",\"attributes\":{\"prefix\":\"10.0001\",\"createdAt\":\"2013-02-28T10:46:47.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"tib.kit-2\",\"type\":\"clients\"}]},\"providers\":{\"data\":[{\"id\":\"tib\",\"type\":\"providers\"}]},\"clientPrefixes\":{\"data\":[{\"id\":\"0460fb2c-42a9-43e3-9111-033763bf31a8\",\"type\":\"client-prefixes\"}]},\"providerPrefixes\":{\"data\":[{\"id\":\"82f431f9-702d-4397-b1f4-1a09b88bae32\",\"type\":\"provider-prefixes\"}]}}},{\"id\":\"10.00012\",\"type\":\"prefixes\",\"attributes\":{\"prefix\":\"10.00012\",\"createdAt\":\"2014-09-04T12:12:53.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"delft.uu\",\"type\":\"clients\"}]},\"providers\":{\"data\":[{\"id\":\"delft\",\"type\":\"providers\"}]},\"clientPrefixes\":{\"data\":[{\"id\":\"0efef0ae-d0bc-4f6d-9f64-003ad0e06ff8\",\"type\":\"client-prefixes\"}]},\"provider[...]
