{
  "log": {
    "_recordingName": "Acceptance | user | doi/visiting specific doi",
    "browser": {
      "name": "Chrome",
      "version": "87.0.4280.88"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "40efabeac26e631e5c649ebc0cd44d19",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "client"
            }
          ],
          "url": "https://api.stage.datacite.org/dois/10.80225%2Fda52-7919?include=client"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9282,
            "text": "{\"data\":{\"id\":\"10.80225/da52-7919\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/da52-7919\",\"prefix\":\"10.80225\",\"suffix\":\"da52-7919\",\"identifiers\":[],\"alternateIdentifiers\":[],\"creators\":[{\"name\":\"Buys, Matt\",\"nameType\":\"Personal\",\"givenName\":\"Matt\",\"familyName\":\"Buys\",\"affiliation\":[\"DataCite\"],\"nameIdentifiers\":[]},{\"name\":\"Dasler, Robin\",\"nameType\":\"Personal\",\"givenName\":\"Robin\",\"familyName\":\"Dasler\",\"affiliation\":[\"European Organization for Nuclear Research\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-4695-7874\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[\"DataCite\"],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"PIDs for instruments: a way forward\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"instrument\"},{\"subject\":\"rda\"},{\"subject\":\"featured\"}],\"contributors\":[{\"name\":\"Garza, Kristian\",\"nameType\":\"Personal\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\",\"affiliation\":[\"Manchester University\"],\"contributorType\":\"ContactPerson\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-3484-6875\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\",\"dateInformation\":null}],\"language\":null,\"types\":{\"ris\":\"RPRT\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"InteractiveResource\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"HasMetadata\",\"relatedIdentifier\":\"10.7914/sn/sh\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"MIT License\",\"rightsUri\":\"https://opensource.org/licenses/MIT\",\"schemeUri\":\"https://spdx.org/licenses/\",\"rightsIdentifier\":\"mit\",\"rightsIdentifierScheme\":\"SPDX\"}],\"descriptions\":[{\"lang\":null,\"description\":\"As a community-driven organization, we continue to focus and explore use cases with our members. The persistent identification and citation of scientific instruments is a particular use case that continues to gain momentum across community stakeholders...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[{\"awardUri\":null,\"awardTitle\":null,\"funderName\":\"American Red Cross\",\"awardNumber\":null,\"funderIdentifier\":\"https://doi.org/10.13039/100006744\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"xml\":\"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuODAyMjUvREE1Mi03OTE5PC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5hbWUgbm[...]
