{
  "log": {
    "_recordingName": "Acceptance | client_admin | doi/update draft doi",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "3f3f1eeffffc0a883aa741bd1fd36e5a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "client"
            }
          ],
          "url": "https://api.stage.datacite.org/dois/10.80225%2F9fxk-aa96?include=client"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3072,
            "text": "{\"data\":{\"id\":\"10.80225/9fxk-aa96\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/9fxk-aa96\",\"prefix\":\"10.80225\",\"suffix\":\"9fxk-aa96\",\"identifiers\":[],\"alternateIdentifiers\":[],\"creators\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[],\"publisher\":null,\"container\":{},\"publicationYear\":null,\"subjects\":[],\"contributors\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"contributorType\":\"Other\",\"nameIdentifiers\":[]}],\"dates\":[],\"language\":null,\"types\":{},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"xml\":\"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuODAyMjUvOUZYSy1BQTk2PC9pZGVudGlmaWVyPgogIDxjcmVhdG9ycz4KICAgIDxjcmVhdG9yPgogICAgICA8Y3JlYXRvck5hbWUgbmFtZVR5cGU9IlBlcnNvbmFsIi8+CiAgICA8L2NyZWF0b3I+CiAgPC9jcmVhdG9ycz4KICA8dGl0bGVzLz4KICA8cHVibGlzaGVyLz4KICA8cHVibGljYXRpb25ZZWFyLz4KICA8Y29udHJpYnV0b3JzPgogICAgPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iT3RoZXIiPgogICAgICA8Y29udHJpYnV0b3JOYW1lIG5hbWVUeXBlPSJQZXJzb25hbCIvPgogICAgPC9jb250cmlidXRvcj4KICA8L2NvbnRyaWJ1dG9ycz4KICA8c2l6ZXMvPgogIDxmb3JtYXRzLz4KICA8dmVyc2lvbi8+CjwvcmVzb3VyY2U+Cg==\",\"url\":\"https://support.datacite.org/docs/doi-states\",\"contentUrl\":null,\"metadataVersion\":2,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":false,\"state\":\"draft\",\"reason\":null,\"landingPage\":null,\"viewCount\":0,\"viewsOverTime\":[],\"downloadCount\":0,\"downloadsOverTime\":[],\"referenceCount\":0,\"citationCount\":0,\"citationsOverTime\":[],\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-25T05:46:18.000Z\",\"registered\":null,\"published\":\"\",\"updated\":\"2020-05-04T16:40:29.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}},\"media\":{\"data\":{\"id\":\"10.80225/9fxk-aa96\",\"type\":\"media\"}},\"references\":{\"data\":[]},\"citations\":{\"data\":[]},\"parts\":{\"data\":[]},\"partOf\":{\"data\":[]},\"versions\":{\"data\":[]},\"versionOf\":{\"data\":[]}}},\"included\":[{\"id\":\"datacite.test\",\"type\":\"clients\",\"attributes\":{\"name\":\"DataCite Test Repository\",\"symbol\":\"DATACITE.TEST\",\"year\":2017,\"contactEmail\":\"mfenner@datacite.org\",\"alternateName\":null,\"description\":\"datacite433\",\"language\":[],\"clientType\":\"repository\",\"domains\":\"*\",\"re3data\":null,\"opendoar\":null,\"issn\":{},\"url\":null,\"created\":\"2017-07-13T15:15:33.000Z\",\"updated\":\"2020-05-19T10:38:38.000Z\",\"isActive\":true,\"hasPassword\":true},\"relationships\":{\"provider\":{\"data\":{\"id\":\"datacite\",\"type\":\"providers\"}},\"consortium\":{\"data\":{\"id\":\"dc\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.0330\",\"type\":\"prefixes\"},{\"id\":\"10.80225\",\"type\":\"prefixes\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 177,
      },
      {
        "_id": "9f115e87eb7d2d5ca684f21b06a9dd4b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/providers/datacite"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5278,
            "text": "{\"data\":{\"id\":\"datacite\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"DATACITE\",\"website\":\"https://datacite.org\",\"systemEmail\":\"support@datacite.org\",\"groupEmail\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2011-12-07T13:41:07.000Z\",\"updated\":\"2020-05-20T15:05:22.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.datacite\",\"type\":\"clients\"},{\"id\":\"datacite.pure\",\"type\":\"clients\"},{\"id\":\"datacite.rda\",\"type\":\"clients\"},{\"id\":\"datacite.harvard\",\"type\":\"clients\"},{\"id\":\"datacite.egi\",\"type\":\"clients\"},{\"id\":\"datacite.elsevier\",\"type\":\"clients\"},{\"id\":\"datacite.atmire\",\"type\":\"clients\"},{\"id\":\"datacite.cmcc\",\"type\":\"clients\"},{\"id\":\"datacite.axiom\",\"type\":\"clients\"},{\"id\":\"datacite.unibz\",\"type\":\"clients[...]
