<div class="row">
  <div class='col-md-9'>
    <div class="panel panel-transparent">
      <div class="panel-body">
        <div class="col-md-10 col-md-offset-2"><h3 class="edit">Assign Prefix</h3></div>

        {{#bs-form formLayout="horizontal" horizontalLabelGridClass="col-md-2" model=model.prefix onSubmit=(action "submit") as |form|}}

          {{prefix-select model=model.prefix form=form}}

          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-sm btn-fill">Assign Prefix</button>
            <button {{action "cancel"}} class="btn btn-sm">Cancel</button>
          </div>
        {{/bs-form}}
      </div>
    </div>
  </div>
</div>
