{
  "log": {
    "_recordingName": "Acceptance | organization_admin | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "15751a11ae9a0e0c04380cab903adf1b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.stage.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 56692,
            "text": "{\"data\":[{\"id\":\"10.0330/3nym-s568\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.0330/3nym-s568\",\"identifiers\":[],\"creators\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[],\"publisher\":null,\"container\":{},\"publicationYear\":null,\"subjects\":[],\"contributors\":[],\"dates\":[],\"language\":null,\"types\":{\"ris\":\"GEN\",\"bibtex\":\"misc\",\"citeproc\":\"article\",\"schemaOrg\":\"CreativeWork\"},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"http://datacite644\",\"contentUrl\":null,\"metadataVersion\":1,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":false,\"state\":\"draft\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-04-23T07:40:07.000Z\",\"registered\":null,\"published\":\"\",\"updated\":\"2020-10-02T08:27:52.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.80225/da52-7919\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/da52-7919\",\"identifiers\":[],\"creators\":[{\"name\":\"Buys, Matt\",\"nameType\":\"Personal\",\"givenName\":\"Matt\",\"familyName\":\"Buys\",\"affiliation\":[{\"name\":\"DataCite\",\"schemeUri\":\"https://ror.org\",\"affiliationIdentifier\":\"https://ror.org/04wxnsj81\",\"affiliationIdentifierScheme\":\"ROR\"}],\"nameIdentifiers\":[]},{\"name\":\"Dasler, Robin\",\"nameType\":\"Personal\",\"givenName\":\"Robin\",\"familyName\":\"Dasler\",\"affiliation\":[{\"name\":\"European Organization for Nuclear Research\",\"schemeUri\":\"https://ror.org\",\"affiliationIdentifier\":\"https://ror.org/01ggx4157\",\"affiliationIdentifierScheme\":\"ROR\"}],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-4695-7874\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[{\"name\":\"DataCite\",\"schemeUri\":\"https://ror.org\",\"affiliationIdentifier\":\"https://ror.org/04wxnsj81\",\"affiliationIdentifierScheme\":\"ROR\"}],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"PIDs for instruments: a way forward\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"instrument\"},{\"subject\":\"rda\"},{\"subject\":\"featured\"}],\"contributors\":[{\"name\":\"Garza, Kristian\",\"nameType\":\"Personal\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\",\"affiliation\":[{\"name\":\"Manchester University\",\"schemeUri\":\"https://ror.org\",\"affiliationIdentifier\":\"https://ror.org/02aswte26\",\"affiliationIdentifierScheme\":\"ROR\"}],\"contributorType\":\"ContactPerson\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-3484-6875\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\",\"dateInformation\":null}],\"language\":null,\"types\":{\"ris\":\"RPRT\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"InteractiveResource\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"HasMetadata\",\"relatedIdentifier\":\"10.7914/sn/sh\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"MIT License\",\"rightsUri\":\"https://opensource.org/licenses/MIT\",\"schemeUri\":\"https://spdx.org/licenses/\",\"rightsIdentifier\":\"mit\",\"rightsIdentifierScheme\":\"SPDX\"}],\"descriptions\":[{\"lang\":null,\"description\":\"As a community-driven organization, we continue to focus and explore use cases with our members. The persistent identification and citation of scientific instruments is a particular use case that continues to gain momentum across community stakeholders...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[{\"awardUri\":null,\"awardTitle\":null,\"funderName\":\"American Red Cross\",\"awardNumber\":null,\"funderIdentifier\":\"https://doi.org/10.13039/100006744\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"url\":\"https://blog.datacite.org/pids-for-instruments-a-way-forward/\",\"contentUrl\":[],\"metadataVersion\":17,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-19T10:51:07.000Z\",\"registered\":\"2020-03-1[...]
