{
  "log": {
    "_recordingName": "Acceptance | organization_admin | doi/visiting dois",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "4e3591aa55ddbdad88af6b5e8679c6b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "affiliation",
              "value": "true"
            },
            {
              "name": "affiliation-id",
              "value": ""
            },
            {
              "name": "certificate",
              "value": ""
            },
            {
              "name": "client-id",
              "value": ""
            },
            {
              "name": "created",
              "value": ""
            },
            {
              "name": "include",
              "value": "client"
            },
            {
              "name": "link-check-status",
              "value": ""
            },
            {
              "name": "page",
              "value": {
                "number": "1",
                "size": "25"
              }
            },
            {
              "name": "person-id",
              "value": ""
            },
            {
              "name": "prefix",
              "value": ""
            },
            {
              "name": "provider-id",
              "value": ""
            },
            {
              "name": "query",
              "value": ""
            },
            {
              "name": "registered",
              "value": ""
            },
            {
              "name": "resource-type-id",
              "value": ""
            },
            {
              "name": "schema-version",
              "value": ""
            },
            {
              "name": "size",
              "value": "25"
            },
            {
              "name": "sort",
              "value": ""
            },
            {
              "name": "source",
              "value": ""
            },
            {
              "name": "state",
              "value": ""
            },
            {
              "name": "year",
              "value": ""
            }
          ],
          "url": "https://api.test.datacite.org/dois?affiliation=true&affiliation-id=&certificate=&client-id=&created=&include=client&link-check-status=&page%5Bnumber%5D=1&page%5Bsize%5D=25&person-id=&prefix=&provider-id=&query=&registered=&resource-type-id=&schema-version=&size=25&sort=&source=&state=&year="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 80864,
            "text": "{\"data\":[{\"id\":\"10.0330/t6vm-0595\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.0330/t6vm-0595\",\"identifiers\":[],\"creators\":[{\"name\":null,\"nameType\":null,\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[],\"publisher\":null,\"container\":{},\"publicationYear\":null,\"subjects\":[],\"contributors\":[],\"dates\":[],\"language\":null,\"types\":{},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[{\"rights\":\"Attribution Assurance License\",\"rightsUri\":\"http://spdx.org/licenses/AA.json\"}],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":null,\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"fabricaForm\",\"isActive\":false,\"state\":\"draft\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-05-04T16:40:38.000Z\",\"registered\":null,\"published\":\"\",\"updated\":\"2020-05-04T16:40:38.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.0330/fhb1-ch81\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.0330/fhb1-ch81\",\"identifiers\":[],\"creators\":[{\"name\":null,\"nameType\":null,\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[],\"publisher\":null,\"container\":{},\"publicationYear\":null,\"subjects\":[],\"contributors\":[],\"dates\":[],\"language\":null,\"types\":{},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"References\",\"relatedIdentifier\":\"10.70048/rph240519\",\"resourceTypeGeneral\":\"Text\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":null,\"contentUrl\":null,\"metadataVersion\":0,\"schemaVersion\":null,\"source\":\"fabricaForm\",\"isActive\":false,\"state\":\"draft\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-05-04T16:40:35.000Z\",\"registered\":null,\"published\":\"\",\"updated\":\"2020-05-04T16:40:35.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.80225/9fxk-aa96\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/9fxk-aa96\",\"identifiers\":[],\"creators\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"nameIdentifiers\":[]}],\"titles\":[],\"publisher\":null,\"container\":{},\"publicationYear\":null,\"subjects\":[],\"contributors\":[{\"name\":\"\",\"nameType\":\"Personal\",\"givenName\":null,\"familyName\":null,\"affiliation\":[],\"contributorType\":\"Other\",\"nameIdentifiers\":[]}],\"dates\":[],\"language\":null,\"types\":{},\"relatedIdentifiers\":[],\"sizes\":[],\"formats\":[],\"version\":null,\"rightsList\":[],\"descriptions\":[],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://support.datacite.org/docs/doi-states\",\"contentUrl\":null,\"metadataVersion\":2,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":false,\"state\":\"draft\",\"reason\":null,\"viewCount\":0,\"downloadCo[...]
