<ApplicationHeader />

<div class="wrapper">
  <div class="landing-header" style="background-image: url('https://assets.datacite.org/images/404.png');"/>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-sm-offset-2">
          <BsAlert @dismissible={{false}} @type="warning">
            The page was not found.
          </BsAlert>
        </div>
      </div>
    </div>
  </div>
</div>
