<ApplicationHeader />

<div class="wrapper">
  <div class="landing-header" style={{html-safe (concat 'background-image: url(' (cdn-url) '/images/404.png);')}}/>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-8 col-sm-offset-2">
          <BsAlert @dismissible={{false}} @type="warning">
            The page was not found.
          </BsAlert>
        </div>
      </div>
    </div>
  </div>
</div>
