<ApplicationHeader @default={{true}} />
<div class="wrapper">
  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-md-6">
          <h3 class="member">
            About
          </h3>
          <p>
            Fabrica is DataCite's web interface where you can create, find, connect and track all of your DOIs and metadata. Fabrica also includes all of the functionalities needed to manage repository accounts, prefixes and contacts.
          </p>
          <p>
            To access this service you need to sign in with one of the following accounts: Member, Consortium, Consortium Organization, Repository. More information about how to use Fabrica is available
            <a href="https://support.datacite.org/docs/doi-fabrica">
              here.
            </a>
          </p>
          <p>
            Fabrica complements the
            <a href="https://api.datacite.org">
              REST
            </a>
            ,
            <a href="https://mds.datacite.org">
              MDS
            </a>
            ,
            <a href="https://ez.datacite.org">
              EZ
            </a>
            ,
            <a href="https://oai.datacite.org">
              OAI-PMH
            </a>
            , and
            <a href="https://api.datacite.org/graphql">
              GraphQL
            </a>
            APIs.
          </p>
          <h3 class="member">
            Version
          </h3>
          {{app-version versionOnly=true}}
          {{#if
            (not-eq (app-version versionOnly=true) (app-version shaOnly=true))
          }}
            -{{' '}}{{app-version shaOnly=true}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>