<div class="ember-view">
  <WhileLoading>
    <BsProgress as |pg|>
      <pg.bar @value={{random-number 90}} @type="info" />
    </BsProgress>
  </WhileLoading>

  <HeadLayout />
  {{outlet}}

  <ApplicationFooter @model={{this.model}} />
</div>

 <div id="ember-bootstrap-wormhole"></div> 