<div class="ember-view">
  <WhileLoading>
    <BsProgress as |pg|>
      <pg.bar @value={{random-number 90}} @type="info" />
    </BsProgress>
  </WhileLoading>

  <HeadLayout />
  {{outlet}}

  <ApplicationFooter @model={{this.model}} />
</div>

<!-- For ember-bootstrap modals and tooltips -->
 <div id="ember-bootstrap-wormhole"></div>

 <!-- For ember-power-select dropdowns(v8) -->
 <BasicDropdownWormhole />