<ApplicationHeader @sign-in={{true}} />

<div class="wrapper">
  <div class="register-background" style="background-image: url('https://datacite.org/images/fabrica/header.png');">
    <div class="container">
      <div class="row" style="height:300px;vertical-align:middle;">
        <EmberSpinner @lines={{11}} @length={{16}} @radius={{27}} @width={{8}} @rotate={{10}} @speed="1.1" @color="#ffffff" />
      </div>
    </div>
  </div>
</div>
