{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />
  <div class="container-fluid">
    <IndexHeader />
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <IndexInfo @model={{this.model}} />
      </div>
    </div>
  </div>  
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
