<div class="wrapper">
  <!-- https://www.pexels.com/photo/vintage-technology-keyboard-old-2318/ -->
  <div class="landing-header" style="background-image: url('//assets.datacite.org/images/eventdata/keyboard.jpg');">
    <div class="container-fluid">
      <div class="motto">
        <h1>{{site-title}}</h1>
        <p>Collect events around DataCite DOIs.</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2" id="content-docs">
         <div class="content markdown">
           <div id="content">
             <p>The DataCite Event Data service collects events around DataCite DOIs. Examples of events include references to related data, data citations in journal articles, and new versions of a work. The events are found via the <strong>relatedIdentifier</strong> and <strong>nameIdentifier</strong> attributes of DataCite Metadata, and via external services (so-called sources) that collect information about DataCite DOIs.</p>
             <p>Event Data is a backend service, the data are made available via the <a href="https://api.datacite.org">DataCite API</a> and via <a href="https://search.datacite.org">DataCite Search</a>.</p>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
