<div class="wrapper">
  <div class="landing-header" style="background-image: url('{{cdn-url}}/images/bracco/tools.jpg');">
    <div class="container-fluid">
      <div class="motto">
        <h1>{{site-title}}</h1>
        <p>Create and manage DOIs and metadata.</p>
      </div>
    </div>
  </div>

  <div class="section section-white">
    <div class="row row-section">
      <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2" id="content-docs">
         <div class="content markdown">
           <div id="content">
             <p>The current DataCite Metadata Store (<a href="https://mds.datacite.org">MDS</a>) will be renovated to become a new
               DOI Registration Service, including all the functionalities needed to manage
               members, data centers, prefixes and registration. The service will provide stats, checks and reports.</p>
             <p>This project is work in progress, check the status <a href="https://github.com/datacite/datacite/milestone/10">here</a>.</p>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
