<div class="container-fluid">
  <div class="content">
    {{#if (can "read settings")}}
      {{#if (current-user role="member_admin")}}
        {{member-settings model=model}}
      {{else if (current-user role="data_center_admin")}}
        {{data-center-settings model=model}}
      {{/if}}
    {{else}}
      <div class="row">
        <div class="col-md-9">
          {{#bs-alert dismissible=false type="warning"}}
            You have no permissions to access this page.
          {{/bs-alert}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
