{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
    <IndexHeader />
    {{outlet}}
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}

