<div class="container-fluid">
  <div class="content">
    {{#if (can "write status")}}
      <div class="centered">
        <img src="http://i.imgur.com/oMxwObX.gif">
      </div>
    {{else}}
      You have no permission to access this page.
    {{/if}}
  </div>
</div>
