<div class="container-fluid">
  <div class="content">
    {{#if (can "list user")}}
      {{outlet}}
    {{else}}
      <div class="row">
        <div class='col-md-9'>
          {{#bs-alert dismissible=false type="warning"}}
            You have no permissions to access this page.
          {{/bs-alert}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
