{{#if (can "read index")}}
  <ApplicationHeader @default={{true}} />

  <div class="container-fluid">
    <IndexHeader />
    <DoiList @model={{this.model}} @link="dois" @searchable={{true}} />
  </div>
{{else}}
  <ApplicationHeader />
  <LandingPage />
{{/if}}
