name: Testing Rework Experiments
on:
  push:
    branches:
      - testing-rework
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: cypress-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-

      - name: Build
        run: |
          yarn --frozen-lockfile --prefer-offline
          ./node_modules/.bin/ember build --output-path="test_build" --environment=development

      - name: Upload Test Build artifact
        uses: actions/upload-artifact@v2
        with:
          name: test_build
          path: test_build/


  ember_test:
    name: Ember Testing
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: cypress-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
           
      - name: Download Test Build artifact
        uses: actions/download-artifact@v2
        with:
          name: test_build
          path: test_build/

      - name: Ember Testing
        env:
          COVERAGE: true
        run: |
          yarn run ember test --path=test_build 



  cypress_test:
    name: Cypress Testing
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: cypress-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            node_modules
            ~/.cache/Cypress
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
           
      - name: Download Test Build artifact
        uses: actions/download-artifact@v2
        with:
          name: test_build
          path: test_build/

      - name: Cypress Testing
        uses: cypress-io/github-action@v2
        with:
          install: false
          config: defaultCommandTimeout=10000
          start: yarn start --path=test_build
          wait-on: 'http://localhost:4200'
          wait-on-timeout: 600
          quiet: true
          record: true
          parallel: true
          group: 'Tests'
          spec: |
            cypress/integration/client_admin/doi.test.ts
            cypress/integration/client_admin/info.test.ts
            cypress/integration/client_admin/prefixes.test.ts
            cypress/integration/client_admin/settings.test.ts
            cypress/integration/consortium_admin/contacts.test.ts
            cypress/integration/consortium_admin/info.test.ts
            cypress/integration/consortium_admin/settings.test.ts
            cypress/integration/organization_admin/contacts.test.ts
            cypress/integration/organization_admin/doi.test.ts
            cypress/integration/organization_admin/info.test.ts
            cypress/integration/organization_admin/prefixes.test.ts
            cypress/integration/organization_admin/repositories.test.ts
            cypress/integration/organization_admin/settings.test.ts
            cypress/integration/staff_admin/contacts.test.ts
            cypress/integration/staff_admin/info.test.ts
            cypress/integration/staff_admin/settings.test.ts
            cypress/integration/ui/consent.test.ts
            cypress/integration/ui/login.test.ts
            cypress/integration/anonymous/admin.test.ts
            cypress/integration/anonymous/anonymous.test.ts
            cypress/integration/anonymous/doi.test.ts
            cypress/integration/anonymous/provider.test.ts
            cypress/integration/anonymous/repository.test.ts
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CLIENT_ADMIN_USERNAME: ${{ secrets.CLIENT_ADMIN_USERNAME }}
          CLIENT_ADMIN_PASSWORD: ${{ secrets.CLIENT_ADMIN_PASSWORD }}
          CONSORTIUM_ADMIN_USERNAME: ${{ secrets.CONSORTIUM_ADMIN_USERNAME }}
          CONSORTIUM_ADMIN_PASSWORD: ${{ secrets.CONSORTIUM_ADMIN_PASSWORD }}
          ORGANIZATION_ADMIN_USERNAME: ${{ secrets.ORGANIZATION_ADMIN_USERNAME }}
          ORGANIZATION_ADMIN_PASSWORD: ${{ secrets.ORGANIZATION_ADMIN_PASSWORD }}
          STAFF_ADMIN_USERNAME: ${{ secrets.STAFF_ADMIN_USERNAME }}
          STAFF_ADMIN_PASSWORD: ${{ secrets.STAFF_ADMIN_PASSWORD }}
