{
  "log": {
    "_recordingName": "Acceptance | client_admin | doi/visiting the form and adding format",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "3d1a3b7011a9b276f7ae3fafd4a4855c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "include",
              "value": "provider"
            }
          ],
          "url": "https://api.test.datacite.org/repositories/datacite.test?include=provider"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5996,
            "text": "{\"data\":{\"id\":\"datacite.test\",\"type\":\"repositories\",\"attributes\":{\"name\":\"DataCite Test Repository\",\"symbol\":\"DATACITE.TEST\",\"re3data\":null,\"opendoar\":null,\"year\":2017,\"systemEmail\":\"mfenner@datacite.org\",\"alternateName\":null,\"description\":\"datacite112\",\"clientType\":\"repository\",\"repositoryType\":[],\"language\":[],\"certificate\":[],\"domains\":\"*\",\"issn\":{},\"url\":null,\"created\":\"2017-07-13T15:15:33.000Z\",\"updated\":\"2020-05-04T16:33:47.000Z\",\"isActive\":true,\"hasPassword\":true,\"serviceContact\":{}},\"relationships\":{\"provider\":{\"data\":{\"id\":\"datacite\",\"type\":\"providers\"}},\"prefixes\":{\"data\":[{\"id\":\"10.0330\",\"type\":\"prefixes\"},{\"id\":\"10.80225\",\"type\":\"prefixes\"}]}}},\"meta\":{\"doiCount\":41,\"prefixCount\":2},\"included\":[{\"id\":\"datacite\",\"type\":\"providers\",\"attributes\":{\"name\":\"DataCite\",\"displayName\":\"DataCite\",\"symbol\":\"DATACITE\",\"website\":\"https://datacite.org\",\"systemEmail\":\"support@datacite.org\",\"groupEmail\":null,\"description\":null,\"region\":\"EMEA\",\"country\":\"DE\",\"logoUrl\":null,\"memberType\":\"consortium_organization\",\"organizationType\":null,\"focusArea\":null,\"nonProfitStatus\":\"non-profit\",\"isActive\":true,\"hasPassword\":true,\"joined\":null,\"rorId\":\"https://ror.org/04wxnsj81\",\"technicalContact\":{},\"secondaryTechnicalContact\":{},\"billingContact\":{},\"secondaryBillingContact\":{},\"serviceContact\":{},\"secondaryServiceContact\":{},\"votingContact\":{},\"created\":\"2011-12-07T13:41:07.000Z\",\"updated\":\"2020-04-24T18:52:25.000Z\"},\"relationships\":{\"clients\":{\"data\":[{\"id\":\"datacite.datacite\",\"type\":\"clients\"},{\"id\":\"datacite.pure\",\"type\":\"clients\"},{\"id\":\"datacite.rda\",\"type\":\"clients\"},{\"id\":\"datacite.harvard\",\"type\":\"clients\"},{\"id\":\"datacite.egi\",\"type\":\"clients\"},{\"id\":\"datacite.elsevier\",\"type\":\"clients\"},{\"id\":\"datacite.atmire\",\"type\":\"clients\"},{\"id\":\"datacite.cmcc\",\"type\":\"clients\"},{\"id\":\"datacite.axiom\",\"type\":\"clients\"},{\"id\":\"datacite.unibz\",\"type\":\"clients[...]
