{
  "log": {
    "_recordingName": "Acceptance | client_admin | user/visiting specific user",
    "browser": {
      "name": "Chrome",
      "version": "81.0.4044.129"
    },
    "creator": {
      "comment": "persister:rest",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "8704e7fb4e598ea54165b1c7711ab3ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.stage.datacite.org/users/0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1258,
            "text": "{\"data\":{\"id\":\"0000-0003-1419-2405\",\"type\":\"users\",\"attributes\":{\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"name\":\"Martin Fenner\",\"orcid\":\"https://orcid.org/0000-0003-1419-2405\",\"github\":null,\"roleId\":\"staff_admin\",\"isActive\":true,\"created\":\"2019-09-10T07:56:46.000Z\",\"updated\":\"2020-05-24T14:46:11.000Z\"},\"relationships\":{}},\"meta\":{\"dois\":[{\"id\":\"2020\",\"title\":\"2020\",\"count\":8},{\"id\":\"2019\",\"title\":\"2019\",\"count\":13}],\"published\":[{\"id\":\"2023\",\"title\":\"2023\",\"count\":1},{\"id\":\"2020\",\"title\":\"2020\",\"count\":22},{\"id\":\"2019\",\"title\":\"2019\",\"count\":39},{\"id\":\"2017\",\"title\":\"2017\",\"count\":2},{\"id\":\"2016\",\"title\":\"2016\",\"count\":5},{\"id\":\"2013\",\"title\":\"2013\",\"count\":1},{\"id\":\"2012\",\"title\":\"2012\",\"count\":1},{\"id\":\"2011\",\"title\":\"2011\",\"count\":12},{\"id\":\"2008\",\"title\":\"2008\",\"count\":1}],\"resourceTypes\":[{\"id\":\"text\",\"title\":\"Text\",\"count\":33},{\"id\":\"software\",\"title\":\"Software\",\"count\":28},{\"id\":\"dataset\",\"title\":\"Dataset\",\"count\":19},{\"id\":\"interactive-resource\",\"title\":\"Interactive Resource\",\"count\":2},{\"id\":\"event\",\"title\":\"Event\",\"count\":1},{\"id\":\"model\",\"title\":\"Model\",\"count\":1}],\"views\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":1662}],\"downloads\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":846}],\"citations\":[{\"id\":\"2011\",\"title\":\"2011\",\"count\":16}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 647,
      },
      {
        "_id": "4cdd8809b40bf85f1adcba4089b41a13",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "user-id",
              "value": "0000-0003-1419-2405"
            },
            {
              "name": "user_id",
              "value": "0000-0003-1419-2405"
            }
          ],
          "url": "https://api.stage.datacite.org/dois?user-id=0000-0003-1419-2405&user_id=0000-0003-1419-2405"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 59392,
            "text": "{\"data\":[{\"id\":\"10.80225/3t09-t059\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/3t09-t059\",\"identifiers\":[],\"creators\":[{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"Cool DOI's\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{\"type\":\"Series\",\"identifier\":\"10.5438/0000-00ss\",\"identifierType\":\"DOI\"},\"publicationYear\":2016,\"subjects\":[{\"subject\":\"doi\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null},{\"subject\":\"featured\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null}],\"contributors\":[],\"dates\":[{\"date\":\"2016-12-15\",\"dateType\":\"Issued\",\"dateInformation\":null},{\"date\":\"2016-12-15\",\"dateType\":\"Created\",\"dateInformation\":null},{\"date\":\"2016-12-15\",\"dateType\":\"Updated\",\"dateInformation\":null}],\"language\":null,\"types\":{\"ris\":\"RPRT\",\"bibtex\":\"article\",\"citeproc\":\"article-journal\",\"schemaOrg\":\"ScholarlyArticle\",\"resourceType\":\"BlogPosting\",\"resourceTypeGeneral\":\"Text\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"Text\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"References\",\"relatedIdentifier\":\"https://www.w3.org/Provider/Style/URI\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"URL\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"References\",\"relatedIdentifier\":\"10.1371/journal.pone.0115253\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"Open Access\",\"rightsUri\":\"info:eu-repo/semantics/OpenAccess\"}],\"descriptions\":[{\"lang\":null,\"description\":\"In 1998 Tim Berners-Lee coined the term cool URIs (1998), that is URIs that don’t change. We know that URLs referenced in the scholarly literature are often not cool, leading to link rot (Klein et al., 2014) and making it hard or impossible to find...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[],\"url\":\"https://blog.datacite.org/cool-dois/\",\"contentUrl\":[],\"metadataVersion\":7,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":1,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-20T12:45:10.000Z\",\"registered\":\"2020-03-20T12:45:11.000Z\",\"published\":\"2016\",\"updated\":\"2020-05-24T20:02:43.000Z\"},\"relationships\":{\"client\":{\"data\":{\"id\":\"datacite.test\",\"type\":\"clients\"}}}},{\"id\":\"10.80225/da52-7919\",\"type\":\"dois\",\"attributes\":{\"doi\":\"10.80225/da52-7919\",\"identifiers\":[],\"creators\":[{\"name\":\"Buys, Matt\",\"nameType\":\"Personal\",\"givenName\":\"Matt\",\"familyName\":\"Buys\",\"affiliation\":[],\"nameIdentifiers\":[]},{\"name\":\"Dasler, Robin\",\"nameType\":\"Personal\",\"givenName\":\"Robin\",\"familyName\":\"Dasler\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0002-4695-7874\",\"nameIdentifierScheme\":\"ORCID\"}]},{\"name\":\"Fenner, Martin\",\"nameType\":\"Personal\",\"givenName\":\"Martin\",\"familyName\":\"Fenner\",\"affiliation\":[],\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-1419-2405\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"titles\":[{\"lang\":null,\"title\":\"PIDs for instruments: a way forward\",\"titleType\":null}],\"publisher\":\"DataCite\",\"container\":{},\"publicationYear\":2020,\"subjects\":[{\"subject\":\"instrument\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null},{\"subject\":\"rda\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null},{\"subject\":\"featured\",\"valueUri\":null,\"schemeUri\":null,\"subjectScheme\":null}],\"contributors\":[{\"name\":\"Garza, Kristian\",\"nameType\":\"Personal\",\"givenName\":\"Kristian\",\"familyName\":\"Garza\",\"affiliation\":[],\"contributorType\":\"DataCollector\",\"nameIdentifiers\":[{\"schemeUri\":\"https://orcid.org\",\"nameIdentifier\":\"https://orcid.org/0000-0003-3484-6875\",\"nameIdentifierScheme\":\"ORCID\"}]}],\"dates\":[{\"date\":\"2020\",\"dateType\":\"Issued\",\"dateInformation\":null}],\"language\":null,\"types\":{\"resourceTypeGeneral\":\"InteractiveResource\"},\"relatedIdentifiers\":[{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"IsPartOf\",\"relatedIdentifier\":\"10.5438/0000-00ss\",\"resourceTypeGeneral\":\"InteractiveResource\",\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null},{\"schemeUri\":null,\"schemeType\":null,\"relationType\":\"HasMetadata\",\"relatedIdentifier\":\"10.7914/sn/sh\",\"resourceTypeGeneral\":null,\"relatedIdentifierType\":\"DOI\",\"relatedMetadataScheme\":null}],\"sizes\":[],\"formats\":[],\"version\":\"1.0\",\"rightsList\":[{\"rights\":\"MIT License\",\"rightsUri\":\"http://spdx.org/licenses/MIT.json\"}],\"descriptions\":[{\"lang\":null,\"description\":\"As a community-driven organization, we continue to focus and explore use cases with our members. The persistent identification and citation of scientific instruments is a particular use case that continues to gain momentum across community stakeholders...\",\"descriptionType\":\"Abstract\"}],\"geoLocations\":[],\"fundingReferences\":[{\"awardUri\":null,\"awardTitle\":null,\"funderName\":\"American Red Cross\",\"awardNumber\":null,\"funderIdentifier\":\"https://doi.org/10.13039/100006744\",\"funderIdentifierType\":\"Crossref Funder ID\"}],\"url\":\"https://blog.datacite.org/pids-for-instruments-a-way-forward/\",\"contentUrl\":[],\"metadataVersion\":14,\"schemaVersion\":\"http://datacite.org/schema/kernel-4\",\"source\":\"fabricaForm\",\"isActive\":true,\"state\":\"findable\",\"reason\":null,\"viewCount\":0,\"downloadCount\":0,\"referenceCount\":0,\"citationCount\":0,\"partCount\":0,\"partOfCount\":0,\"versionCount\":0,\"versionOfCount\":0,\"created\":\"2020-03-19T10:51:07.000Z\",\"registered\":\"2020-03-1[...]
